@import "../modules/lightBox";
@import "../base/color";


.homeContainer {
  background-color: $white;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  max-width: 500px;
  margin: 40px auto 0;
  // padding: 0 10px;
  @include lightBoxMd; //燈箱(中)
}

.homeTab-wrap {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  // background-color:$white;
  // box-shadow:  0 0 1em $lightGrey;

    .homeTab {
      display: none;
    }

    .homeTab:checked + label {
      cursor: default;
      color: $white;
      background-color:$green;
    }
    .homeTab + label {
      cursor: pointer;
      display: block;
      text-decoration: none;
      flex-grow: 3;
      text-align: center;
      background-color:$white;
      user-select: none;
      text-align: center;
      transition: 0.3s background-color ease;
      padding: 15px;
    }
    .homeTab-content {
      padding: 10px;
      background-color: transparent;
      position: absolute;
      width: 100%;
      z-index: -1;
      opacity: 0;
      left: 0;
      transform: translateY(-3px);
    }
    .homeTab:checked:nth-of-type(1) ~ .homeTab-content:nth-of-type(1) {
      opacity: 1;
      transition: 0.5s opacity ease-in, 0.8s transform ease;
      position: relative;
      top: 0;
      z-index: 1;
      transform: translateY(0px);
    }
    .homeTab:checked:nth-of-type(2) ~ .homeTab-content:nth-of-type(2) {
      opacity: 1;
      transition: 0.5s opacity ease-in, 0.8s transform ease;
      position: relative;
      top: 0;
      z-index: 1;
      transform: translateY(0px);
    }

    //註冊
    .homeTop-row {
      &:after {
        content: "";
        display: table;
        clear: both;

        > div {
          float:left;
          margin-right:4%;
          
          &:last-child { 
            margin:0;
          }
        }
      }
    }

    .homeField-wrap {
      position:relative;
      padding:15px;
      display: flex;
      .homeReq {
        margin:2px;
        color:$orange;
      }

      label {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        left: 13px;
        color: $grey;
        transition: all 0.25s ease;
        pointer-events: none;
        font-size:$fzContent;
        float: left;
        width: 80px;
      }
      .homeNameBox{
        display: inline-flex;
        width: 100%;

        .homeName-1{
          width: calc(25% - 10px);
          margin-right: 9%;
         }
  
         .homeName-2{
          width: calc(45% - 10px);
         } 
      }
    }
    .homeWarningWords{
      // background-color: red;
      color: $white;
      border-radius: 3px;
      padding: 3px 10px;
      // margin: 2px 0;
      margin-left: 100px;
      width: 330px;
    }
    .homeWarningWordsGreen{
      background-color: $green;
    }
    .homeWarningWordsOrange{
      background-color: $orange;
    }
    .homeWarningWordsYellow{
      background-color: $yellow;
    }
   .homeField-error{//帳號、密碼錯誤
    width: 100%;
    text-align: center;
    font-size:$fzSmall;
    color:$red;
    padding-left: 40px;
    }

    input{
      display:block;
      width:calc(80% - 8px);
      padding:10px;
      background:none;
      background-image:none;
      border:1px solid $lightGrey;
      border-radius:0;
      transition:border-color .25s ease, box-shadow .25s ease;
      border-radius: 5px;
      &:focus {
        outline:0;
        border-color:$green;
      }
    }

    .homeButton {
      border:0;
      outline:none;
      border-radius:0;
      padding:15px 0;
      font-size:$fzContent;
      font-weight:900;
      text-transform:uppercase;
      letter-spacing:.1em;
      cursor: pointer;
      background:$green;
      color:$white;
      // transition:all.5s ease;
      -webkit-appearance: none;
      margin-top: 10px;

      &:hover, &:focus {
        background:$green;
      }
    }
    
    .homeButton-block {
      display:block;
      width:100%;
    }
}

.homeForgot {
  margin-top:-20px;
  margin-top: 10px;
  text-align:right;
  font-size: $fzSmall;
  padding: 10px;
}