@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body {
  font-family: 'Noto Sans TC','Noto Sans', '微軟正黑體', "Times New Roman", sans-serif; }

nav {
  color: green; }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #ffffff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

.cont {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 20px 18px; }
  .cont__inner {
    position: relative;
    height: 100%; }
    .cont__inner:hover .el__bg:after {
      /* 不在其規定區塊時全亮，到大區塊時全暗 opacity0.3，hover到的其中區塊變亮 opacity 0 */
      opacity: 1; }

.el {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #252525;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, clip-path 0.6s;
  will-change: transform, width, opacity; }
  .el:not(.s--active) {
    cursor: pointer; }
  .el__overflow {
    overflow: hidden;
    position: relative;
    height: 100%; }
  .el__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform 1s; }
    .cont.s--inactive .el__inner {
      transform: translate3d(0, 100%, 0); }
  .el__bg {
    position: relative;
    width: calc(100vw - 36px);
    height: 100%;
    transition: transform 0.6s 0.7s;
    will-change: transform; }
    .el__bg:before {
      /* 這裡用來放圖片位置設定(圖片另外用) */
      content: "";
      position: absolute;
      left: 0;
      top: -5%;
      width: 100%;
      height: 110%;
      background-size: cover;
      background-position: center center;
      transition: transform 1s;
      transform: translate3d(0, 0, 0) scale(1); }
      .cont.s--inactive .el__bg:before {
        transform: translate3d(0, -100%, 0) scale(1.2); }
      .el.s--active .el__bg:before {
        transition: transform 0.8s; }
    .el__bg:after {
      /* 這裡是圖片遮罩 */
      content: "";
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: opacity 0.5s; }
      .cont.s--el-active .el__bg:after {
        transition: opacity 0.5s 1.4s; }
  .el__preview-cont {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s 1.2s; }
    .cont.s--inactive .el__preview-cont {
      /* 出場時的效果 */
      opacity: 0;
      transform: translateY(10px); }
    .cont.s--el-active .el__preview-cont {
      /* 點擊後套用文字向下消失 */
      opacity: 0;
      transform: translateY(30px);
      transition: all 0.5s; }
  .el__heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px; }
  .el__content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s; }
    .el.s--active .el__content {
      z-index: 2;
      opacity: 1;
      pointer-events: auto;
      transition: all 0.5s 1.4s; }
  .el__leaderBoards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #EA6227;
    height: 42vw; }
    .el__leaderBoards__leaderBoard {
      height: 500px;
      background-color: red; }
  .el__text {
    text-transform: uppercase;
    font-size: 40px;
    color: #242424; }
  .el__close-btn {
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s 0.45s;
    cursor: pointer; }
    .el.s--active .el__close-btn {
      z-index: 5;
      opacity: 1;
      pointer-events: auto;
      transition: all 0s 1.4s; }
    .el__close-btn:before, .el__close-btn:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 8px;
      margin-top: -4px;
      background: #242424;
      opacity: 0;
      transition: opacity 0s; }
      .el.s--active .el__close-btn:before, .el.s--active .el__close-btn:after {
        opacity: 1; }
    .el__close-btn:before {
      transform: rotate(45deg) translateX(100%); }
      .el.s--active .el__close-btn:before {
        transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
        transform: rotate(45deg) translateX(0); }
    .el__close-btn:after {
      transform: rotate(-45deg) translateX(100%); }
      .el.s--active .el__close-btn:after {
        transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
        transform: rotate(-45deg) translateX(0); }
  .el__index {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 100%;
    min-height: 250px;
    text-align: left;
    font-size: calc(100vw / 25);
    line-height: 1.5;
    font-weight: bold;
    transition: transform 0.5s, opacity 0.3s 1.4s;
    transform: translate3d(0, -1vw, 0); }
    .el:hover .el__index {
      /* hover後出現 位置從-1vw到0 */
      transform: translate3d(0, 0, 0); }
    .cont.s--el-active .el__index {
      transition: transform 0.5s, opacity 0.3s;
      opacity: 0; }
    .el__index-back, .el__index-front {
      /* 重疊的兩組文字定位 */
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%; }
    .el__index-back {
      /* 背後文字底色 */
      color: #2f3840;
      opacity: 0;
      transition: opacity 0.25s 0.25s; }
      .el:hover .el__index-back {
        /* hover後的效果未出現到出現 */
        transition: opacity 0.25s;
        opacity: 1; }
    .el__index-overlay {
      /* 遮罩色的父層 */
      overflow: hidden;
      position: relative;
      transform: translate3d(0, 100%, 0);
      transition: transform 0.5s 0.1s;
      color: transparent;
      /* 全透明黑色，不加的話會多層黑影 */ }
      .el__index-overlay:before {
        /* 填色層，增加白色效果 */
        content: attr(data-index);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        transform: translate3d(0, -100%, 0);
        /* 先把顏色藏起 */
        transition: transform 0.5s 0.1s; }
      .el:hover .el__index-overlay {
        /* hover 使顏色填滿 */
        transform: translate3d(0, 0, 0); }
        .el:hover .el__index-overlay:before {
          transform: translate3d(0, 0, 0); }
  .el__index.left {
    text-align: left;
    margin-left: 5%; }
  .el__index.mid {
    text-align: center; }
  .el__index.right {
    text-align: right;
    margin-left: -5%; }
  .el:nth-child(1) {
    transform: translate3d(0%, 0, 0);
    transform-origin: 50% 50%; }
    .cont.s--el-active .el:nth-child(1):not(.s--active) {
      transform: scale(0.5) translate3d(0%, 0, 0);
      opacity: 0;
      transition: transform 0.95s, opacity 0.95s;
      z-index: 0; }
    .el:nth-child(1) .el__inner {
      transition-delay: 0s; }
    .el:nth-child(1) .el__bg {
      transform: translate3d(0%, 0, 0); }
      .el:nth-child(1) .el__bg:before {
        transition-delay: 0s;
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-3.jpg"); }
  .el:nth-child(2) {
    transform: translate3d(105.20833%, 0, 0);
    transform-origin: 155.20833% 50%; }
    .cont.s--el-active .el:nth-child(2):not(.s--active) {
      transform: scale(0.5) translate3d(105.20833%, 0, 0);
      opacity: 0;
      transition: transform 0.95s, opacity 0.95s;
      z-index: 0; }
    .el:nth-child(2) .el__inner {
      transition-delay: 0.1s; }
    .el:nth-child(2) .el__bg {
      transform: translate3d(-19.2%, 0, 0); }
      .el:nth-child(2) .el__bg:before {
        transition-delay: 0.1s;
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg"); }
  .el:nth-child(3) {
    transform: translate3d(210.41667%, 0, 0);
    transform-origin: 260.41667% 50%; }
    .cont.s--el-active .el:nth-child(3):not(.s--active) {
      transform: scale(0.5) translate3d(210.41667%, 0, 0);
      opacity: 0;
      transition: transform 0.95s, opacity 0.95s;
      z-index: 0; }
    .el:nth-child(3) .el__inner {
      transition-delay: 0.2s; }
    .el:nth-child(3) .el__bg {
      transform: translate3d(-38.4%, 0, 0); }
      .el:nth-child(3) .el__bg:before {
        transition-delay: 0.2s;
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg"); }
  .el:nth-child(4) {
    transform: translate3d(315.625%, 0, 0);
    transform-origin: 365.625% 50%; }
    .cont.s--el-active .el:nth-child(4):not(.s--active) {
      transform: scale(0.5) translate3d(315.625%, 0, 0);
      opacity: 0;
      transition: transform 0.95s, opacity 0.95s;
      z-index: 0; }
    .el:nth-child(4) .el__inner {
      transition-delay: 0.3s; }
    .el:nth-child(4) .el__bg {
      transform: translate3d(-57.6%, 0, 0); }
      .el:nth-child(4) .el__bg:before {
        transition-delay: 0.3s;
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg"); }
  .el:nth-child(5) {
    transform: translate3d(420.83333%, 0, 0);
    transform-origin: 470.83333% 50%; }
    .cont.s--el-active .el:nth-child(5):not(.s--active) {
      transform: scale(0.5) translate3d(420.83333%, 0, 0);
      opacity: 0;
      transition: transform 0.95s, opacity 0.95s;
      z-index: 0; }
    .el:nth-child(5) .el__inner {
      transition-delay: 0.4s; }
    .el:nth-child(5) .el__bg {
      transform: translate3d(-76.8%, 0, 0); }
      .el:nth-child(5) .el__bg:before {
        transition-delay: 0.4s;
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-7.jpg"); }
  .el:hover .el__bg:after {
    opacity: 0; }
  .el.sec.s--active {
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s, clip-path 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-left: 0%; }
    .el.sec.s--active .el__bg {
      transform: translate3d(0, 0, 0);
      transition: transform 0.6s; }
      .el.sec.s--active .el__bg:before {
        transition-delay: 0.6s;
        transform: scale(1.1);
        opacity: 1;
        transition: background-image 0.6s, opacity 0.5s, transform 0.5s; }
    .el.sec.s--active .el__bg:before {
      background-image: url(../images/homepage/BG.png); }
  .el.third.s--active {
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s, clip-path 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-left: 0%; }
    .el.third.s--active .el__bg {
      transform: translate3d(0, 0, 0);
      transition: transform 0.6s; }
      .el.third.s--active .el__bg:before {
        transition-delay: 0.6s;
        transform: scale(1.1);
        opacity: 1;
        transition: background-image 0.6s, opacity 0.5s, transform 0.5s; }
  .el.first.s--active {
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s, clip-path 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-left: 0%; }
    .el.first.s--active .el__bg {
      transform: translate3d(0, 0, 0);
      transition: transform 0.6s; }
      .el.first.s--active .el__bg:before {
        transition-delay: 0.6s;
        transform: scale(1.1);
        opacity: 1;
        transition: background-image 0.6s, opacity 0.5s, transform 0.5s; }

.el.first {
  background-color: #fff;
  z-index: 11;
  clip-path: polygon(0 0, 78% 0, 53% 100%, 0% 100%);
  width: 40%; }

.el.sec {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  width: 50%;
  z-index: 10;
  transform: translateX(50%); }

.el.third {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 40% 100%);
  width: 35%;
  margin-left: -8.5%;
  z-index: 11; }
