@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body {
  font-family: 'Noto Sans TC','Noto Sans', '微軟正黑體', "Times New Roman", sans-serif; }

nav {
  color: green; }

@keyframes memFlyIn {
  0% {
    right: -100%;
    opacity: 0; }
  100% {
    right: -30%;
    opacity: .6; } }

@keyframes memShake {
  0% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(-10deg); } }

#memApp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1200px;
  margin: 20px auto;
  padding: 15px; }
  #memApp .memHeader {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    #memApp .memHeader .memHeaderId {
      font-size: 1rem;
      color: #595959;
      font-weight: 500;
      white-space: wrap;
      margin-right: 20px; }
    #memApp .memHeader .memHeaderBtn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition-duration: 0.2s;
      transition-property: all;
      transform-origin: 50% 50%;
      text-align: center;
      line-height: 50px;
      width: 120px;
      height: 50px;
      color: #141212;
      background-color: #FFD23F;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 2px;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 15px;
      font-size: 1rem;
      color: #141212;
      font-weight: 500;
      white-space: wrap; }
      #memApp .memHeader .memHeaderBtn:hover, #memApp .memHeader .memHeaderBtn:focus {
        opacity: .9;
        background-color: #e4b51c; }
      #memApp .memHeader .memHeaderBtn .memBtnImg {
        width: 24px;
        margin-right: 5px; }
    #memApp .memHeader .memHeaderBtnOrange {
      background-color: #37AB64; }
      #memApp .memHeader .memHeaderBtnOrange:hover, #memApp .memHeader .memHeaderBtnOrange:focus {
        opacity: .9;
        background-color: #8ae9ae; }
  #memApp .memLine {
    border-top: 3px solid #595959;
    width: 100%;
    margin: 30px 0; }
  #memApp .memContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; }
  #memApp #memContentFile .memFileBox, #memApp #memContentFile .memFileImg {
    width: 550px; }
  #memApp #memContentFile .memFileLine {
    border-left: 1px solid #595959;
    height: 600px; }
  #memApp #memContentFile .memFileBox .memFileForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 40px; }
    #memApp #memContentFile .memFileBox .memFileForm .memFirSecNameBox {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 15px 0; }
    #memApp #memContentFile .memFileBox .memFileForm label {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.2rem;
      color: #9b9b9b;
      font-weight: 500;
      white-space: wrap;
      margin-left: 10px; }
      #memApp #memContentFile .memFileBox .memFileForm label p {
        font-size: 1rem;
        color: #141212;
        font-weight: 500;
        white-space: wrap;
        margin-left: 20px; }
      #memApp #memContentFile .memFileBox .memFileForm label input {
        font-size: 1rem;
        color: #141212;
        font-weight: 500;
        white-space: wrap;
        margin-left: 15px;
        padding: 5px;
        margin-right: 20px; }
      #memApp #memContentFile .memFileBox .memFileForm label .memSurName {
        width: 50px;
        margin-left: 50px;
        margin-right: 50px; }
      #memApp #memContentFile .memFileBox .memFileForm label .memName {
        width: 100px; }
      #memApp #memContentFile .memFileBox .memFileForm label .memHeight, #memApp #memContentFile .memFileBox .memFileForm label .memWeight, #memApp #memContentFile .memFileBox .memFileForm label .memBMI, #memApp #memContentFile .memFileBox .memFileForm label .memPhone, #memApp #memContentFile .memFileBox .memFileForm label .memAddr {
        margin: 20px 0;
        margin-left: 30px;
        margin-right: 10px;
        width: 80px; }
      #memApp #memContentFile .memFileBox .memFileForm label .memPhone {
        width: 120px; }
      #memApp #memContentFile .memFileBox .memFileForm label .memAddr {
        width: 180px; }
    #memApp #memContentFile .memFileBox .memFileForm .memFormBtn {
      transition-duration: 0.2s;
      transition-property: all;
      transform-origin: 50% 50%;
      text-align: center;
      line-height: 50px;
      width: 120px;
      height: 50px;
      color: #ECEEE7;
      background-color: #EA6227;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 2px;
      padding: 5px 10px;
      border-radius: 5px;
      transform: scale(1);
      border: 0;
      cursor: pointer;
      line-height: 40px;
      margin: 0 auto;
      margin-top: 20px; }
      #memApp #memContentFile .memFileBox .memFileForm .memFormBtn:hover, #memApp #memContentFile .memFileBox .memFileForm .memFormBtn:focus {
        transform: scale(1.1);
        opacity: .9; }
  #memApp #memContentFile .memFileImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 80px;
    margin-top: 60px;
    position: relative; }
    #memApp #memContentFile .memFileImg .memImage {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #c4c0c0;
      overflow: hidden;
      position: relative; }
      #memApp #memContentFile .memFileImg .memImage .memPicture {
        width: 100%; }
      #memApp #memContentFile .memFileImg .memImage .changeImage {
        position: absolute;
        width: 200px;
        height: 100px;
        background-color: #9b9b9b;
        opacity: .8;
        bottom: -100px;
        transition-duration: 0.3s;
        transition-property: all;
        transform-origin: 50% 50%;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        font-size: 1.2rem;
        color: #141212;
        font-weight: 500;
        white-space: wrap; }
      #memApp #memContentFile .memFileImg .memImage:hover .changeImage {
        bottom: -40px; }
    #memApp #memContentFile .memFileImg .memImgLimitBox {
      width: 160px;
      margin-left: 30px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      #memApp #memContentFile .memFileImg .memImgLimitBox .memImgLimit {
        font-size: 1rem;
        color: #9b9b9b;
        font-weight: 500;
        white-space: wrap;
        line-height: 30px; }
    #memApp #memContentFile .memFileImg .memBaoBeeBox {
      margin-top: 20px;
      margin-left: 45px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative; }
      #memApp #memContentFile .memFileImg .memBaoBeeBox span {
        font-size: 1.2rem;
        color: #141212;
        font-weight: 500;
        white-space: wrap; }
      #memApp #memContentFile .memFileImg .memBaoBeeBox .memBaoBeeNothing:hover .memQuestionAnswer {
        display: flex; }
      #memApp #memContentFile .memFileImg .memBaoBeeBox .memBaoBeeNothing img {
        margin-left: 10px;
        margin-top: 5px;
        width: 30px; }
      #memApp #memContentFile .memFileImg .memBaoBeeBox .memBaoBeeNothing .memQuestionAnswer {
        position: absolute;
        width: 180px;
        right: -85px;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: none;
        border: 1px solid #ECEEE7;
        padding: 10px;
        border-radius: 5px;
        background-color: #ECEEE7;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
        #memApp #memContentFile .memFileImg .memBaoBeeBox .memBaoBeeNothing .memQuestionAnswer::before {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -10px;
          border-top: 10px solid #ECEEE7;
          border-right: 10px solid transparent;
          border-bottom: 0px solid transparent;
          border-left: 10px solid transparent; }
        #memApp #memContentFile .memFileImg .memBaoBeeBox .memBaoBeeNothing .memQuestionAnswer span {
          font-size: 0.9rem;
          color: #141212;
          font-weight: 500;
          white-space: wrap; }
    #memApp #memContentFile .memFileImg .memShowBoeBee {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-left: 45px; }
      #memApp #memContentFile .memFileImg .memShowBoeBee img {
        width: 35px;
        margin-right: 20px; }
      #memApp #memContentFile .memFileImg .memShowBoeBee span {
        font-size: 1.4rem;
        color: #9b9b9b;
        font-weight: 500;
        white-space: wrap; }
    #memApp #memContentFile .memFileImg .memFileUseImg {
      max-width: 130%;
      z-index: -1;
      position: absolute;
      right: -1000%;
      bottom: -40%;
      animation: memFlyIn 1s ease-in-out forwards; }
  #memApp #memContentOrder {
    justify-self: center;
    align-items: center;
    flex-direction: column; }
    #memApp #memContentOrder .memOrderBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 1000px;
      border-radius: 20px;
      padding: 20px 40px;
      margin: 30px 0;
      box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
      background-color: #f8f7ea; }
      #memApp #memContentOrder .memOrderBox .memOrderInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1000px; }
        #memApp #memContentOrder .memOrderBox .memOrderInfo .memOrderNum {
          font-size: 1.2rem;
          color: #595959;
          font-weight: 500;
          white-space: wrap; }
        #memApp #memContentOrder .memOrderBox .memOrderInfo .memOrderSta {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          #memApp #memContentOrder .memOrderBox .memOrderInfo .memOrderSta img {
            margin-right: 10px; }
          #memApp #memContentOrder .memOrderBox .memOrderInfo .memOrderSta p {
            font-size: 1.4rem;
            color: #595959;
            font-weight: 500;
            white-space: wrap; }
      #memApp #memContentOrder .memOrderBox .memOrderListBox {
        width: 90%;
        height: 290px;
        overflow: hidden; }
        #memApp #memContentOrder .memOrderBox .memOrderListBox .memOrderList {
          width: 100%;
          height: 130px;
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          #memApp #memContentOrder .memOrderBox .memOrderListBox .memOrderList img {
            margin-right: 30px; }
          #memApp #memContentOrder .memOrderBox .memOrderListBox .memOrderList .memFlexRight {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center; }
            #memApp #memContentOrder .memOrderBox .memOrderListBox .memOrderList .memFlexRight .memOrderSomethingBox {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start; }
              #memApp #memContentOrder .memOrderBox .memOrderListBox .memOrderList .memFlexRight .memOrderSomethingBox p {
                font-size: 1.4rem;
                color: #141212;
                font-weight: 500;
                white-space: wrap;
                margin: 5px 0; }
              #memApp #memContentOrder .memOrderBox .memOrderListBox .memOrderList .memFlexRight .memOrderSomethingBox .memFontSmall {
                font-size: 1rem;
                color: #9b9b9b;
                font-weight: 500;
                white-space: wrap; }
          #memApp #memContentOrder .memOrderBox .memOrderListBox .memOrderList .memOrderPirceShow {
            font-size: 1.2rem;
            color: #141212;
            font-weight: 500;
            white-space: wrap; }
      #memApp #memContentOrder .memOrderBox .memOrderTotalPriceBox {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%; }
        #memApp #memContentOrder .memOrderBox .memOrderTotalPriceBox p {
          font-size: 0.9rem;
          color: #141212;
          font-weight: 500;
          white-space: wrap;
          margin-right: 30px; }
          #memApp #memContentOrder .memOrderBox .memOrderTotalPriceBox p span {
            font-size: 1.6rem;
            color: #141212;
            font-weight: 500;
            white-space: wrap; }
        #memApp #memContentOrder .memOrderBox .memOrderTotalPriceBox .memOrderGoToListBtn {
          transition-duration: 0.2s;
          transition-property: all;
          transform-origin: 50% 50%;
          text-align: center;
          line-height: 40px;
          width: 100px;
          height: 40px;
          color: #ECEEE7;
          background-color: #EA6227;
          font-weight: 700;
          font-size: 20px;
          letter-spacing: 2px;
          padding: 5px 10px;
          border-radius: 5px;
          transform: scale(1);
          border: 0;
          cursor: pointer; }
          #memApp #memContentOrder .memOrderBox .memOrderTotalPriceBox .memOrderGoToListBtn:hover, #memApp #memContentOrder .memOrderBox .memOrderTotalPriceBox .memOrderGoToListBtn:focus {
            transform: scale(1.1);
            opacity: .9; }
  #memApp #memContentHealth {
    justify-self: center;
    align-items: center;
    flex-direction: column; }
    #memApp #memContentHealth .memHealthDataShowBox {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start; }
      #memApp #memContentHealth .memHealthDataShowBox .memMyFileDataBox, #memApp #memContentHealth .memHealthDataShowBox .memMyHealthAnalyImgBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        #memApp #memContentHealth .memHealthDataShowBox .memMyFileDataBox .memHealthDataShowTitle, #memApp #memContentHealth .memHealthDataShowBox .memMyHealthAnalyImgBox .memHealthDataShowTitle {
          font-size: 1.4rem;
          color: #141212;
          font-weight: 500;
          white-space: wrap; }
      #memApp #memContentHealth .memHealthDataShowBox .memMyFileDataBox {
        width: 30%; }
        #memApp #memContentHealth .memHealthDataShowBox .memMyFileDataBox .memHealthDataShowDataBox {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin-top: 50px; }
          #memApp #memContentHealth .memHealthDataShowBox .memMyFileDataBox .memHealthDataShowDataBox p {
            margin: 10px 0; }
      #memApp #memContentHealth .memHealthDataShowBox .memMyHealthAnalyImgBox {
        width: 60%; }
        #memApp #memContentHealth .memHealthDataShowBox .memMyHealthAnalyImgBox #myChart {
          margin-top: 20px; }
    #memApp #memContentHealth .memHealthLine {
      border-top: 3px solid #595959;
      opacity: .4;
      width: 90%;
      margin: 50px 0; }
    #memApp #memContentHealth .memHealthContentBox {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      border-radius: 10px;
      padding: 20px 40px;
      margin: 30px 0;
      box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.1);
      background-color: #f8f7ea; }
      #memApp #memContentHealth .memHealthContentBox .memHealthContentInfoBox {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        #memApp #memContentHealth .memHealthContentBox .memHealthContentInfoBox p {
          font-size: 1rem;
          color: #9b9b9b;
          font-weight: 500;
          white-space: wrap; }
          #memApp #memContentHealth .memHealthContentBox .memHealthContentInfoBox p span {
            font-size: 1.2rem;
            color: #141212;
            font-weight: 500;
            white-space: wrap; }
        #memApp #memContentHealth .memHealthContentBox .memHealthContentInfoBox .memHealthImgAndIntrudBox {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin: 10px 0;
          width: 100%; }
          #memApp #memContentHealth .memHealthContentBox .memHealthContentInfoBox .memHealthImgAndIntrudBox img {
            width: 120px; }
          #memApp #memContentHealth .memHealthContentBox .memHealthContentInfoBox .memHealthImgAndIntrudBox .memHealthIntruBox {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 15px; }
            #memApp #memContentHealth .memHealthContentBox .memHealthContentInfoBox .memHealthImgAndIntrudBox .memHealthIntruBox h2 {
              font-size: 1.2rem;
              color: #9b9b9b;
              font-weight: 500;
              white-space: wrap; }
              #memApp #memContentHealth .memHealthContentBox .memHealthContentInfoBox .memHealthImgAndIntrudBox .memHealthIntruBox h2 span {
                font-size: 1.4rem;
                color: #141212;
                font-weight: 500;
                white-space: wrap; }
            #memApp #memContentHealth .memHealthContentBox .memHealthContentInfoBox .memHealthImgAndIntrudBox .memHealthIntruBox p {
              font-size: 1rem;
              color: #9b9b9b;
              font-weight: 500;
              white-space: wrap; }
              #memApp #memContentHealth .memHealthContentBox .memHealthContentInfoBox .memHealthImgAndIntrudBox .memHealthIntruBox p span {
                font-size: 1.2rem;
                color: #141212;
                font-weight: 500;
                white-space: wrap; }
      #memApp #memContentHealth .memHealthContentBox .memHealthContentGoToListBox {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 30%; }
        #memApp #memContentHealth .memHealthContentBox .memHealthContentGoToListBox .memHealthContentGoToListBtn {
          transition-duration: 0.2s;
          transition-property: all;
          transform-origin: 50% 50%;
          text-align: center;
          line-height: 40px;
          width: 100px;
          height: 40px;
          color: #ECEEE7;
          background-color: #EA6227;
          font-weight: 700;
          font-size: 20px;
          letter-spacing: 2px;
          padding: 5px 10px;
          border-radius: 5px;
          transform: scale(1);
          border: 0;
          cursor: pointer; }
          #memApp #memContentHealth .memHealthContentBox .memHealthContentGoToListBox .memHealthContentGoToListBtn:hover, #memApp #memContentHealth .memHealthContentBox .memHealthContentGoToListBox .memHealthContentGoToListBtn:focus {
            transform: scale(1.1);
            opacity: .9; }
        #memApp #memContentHealth .memHealthContentBox .memHealthContentGoToListBox p {
          margin-top: 50px;
          font-size: 0.7rem;
          color: #9b9b9b;
          font-weight: 500;
          white-space: wrap; }
          #memApp #memContentHealth .memHealthContentBox .memHealthContentGoToListBox p span {
            font-size: 0.9rem;
            color: #141212;
            font-weight: 500;
            white-space: wrap; }
  #memApp #memContentGame {
    justify-self: center;
    align-items: center;
    flex-direction: column;
    position: relative; }
    #memApp #memContentGame h2 {
      font-size: 2rem;
      color: #141212;
      font-weight: 500;
      white-space: wrap;
      margin-bottom: 30px; }
    #memApp #memContentGame .game {
      width: 500px;
      height: 500px;
      position: relative;
      background-color: #222222;
      border-radius: 15px;
      box-shadow: 2px 2px 100px rgba(207, 195, 195, 0.3);
      overflow: hidden; }
      #memApp #memContentGame .game .grade {
        padding: 10px;
        font-size: 1.4rem;
        color: #ECEEE7;
        font-weight: 500;
        white-space: wrap; }
      #memApp #memContentGame .game .board {
        background-color: #ffab2d; }
      #memApp #memContentGame .game .ball {
        overflow: hidden;
        border-radius: 50%; }
        #memApp #memContentGame .game .ball img {
          width: 100%; }
      #memApp #memContentGame .game .info {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #222;
        border-radius: 15px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        #memApp #memContentGame .game .info .infoText {
          margin: 0 auto;
          font-size: 1.4rem;
          color: #ECEEE7;
          font-weight: 500;
          white-space: wrap;
          margin-bottom: 10px; }
        #memApp #memContentGame .game .info .start {
          transition-duration: 0.2s;
          transition-property: all;
          transform-origin: 50% 50%;
          text-align: center;
          line-height: 50px;
          width: 120px;
          height: 50px;
          color: #ECEEE7;
          background-color: #EA6227;
          font-weight: 700;
          font-size: 20px;
          letter-spacing: 2px;
          padding: 5px 10px;
          border-radius: 5px;
          transform: scale(1);
          border: 0;
          cursor: pointer;
          line-height: 40px; }
          #memApp #memContentGame .game .info .start:hover, #memApp #memContentGame .game .info .start:focus {
            transform: scale(1.1);
            opacity: .9; }
      #memApp #memContentGame .game .start {
        width: 100px; }
    #memApp #memContentGame .memGameTomoto {
      position: absolute;
      right: 15%;
      bottom: 0; }
      #memApp #memContentGame .memGameTomoto img {
        width: 100px;
        animation: memShake 1.5s ease-in-out infinite; }
      #memApp #memContentGame .memGameTomoto .memGameConversationBox {
        position: absolute;
        bottom: 100px;
        right: -20px; }
        #memApp #memContentGame .memGameTomoto .memGameConversationBox img {
          width: 150px; }
        #memApp #memContentGame .memGameTomoto .memGameConversationBox p {
          position: absolute;
          bottom: 50px;
          right: 10px;
          animation: memShake 1.5s ease-in-out infinite;
          font-size: 1rem;
          color: #9b9b9b;
          font-weight: 500;
          white-space: wrap; }
  #memApp .memContentOrderList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; }
    #memApp .memContentOrderList .memContentOrderListHeader {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 60px; }
      #memApp .memContentOrderList .memContentOrderListHeader p {
        font-size: 1.2rem;
        color: #9b9b9b;
        font-weight: 500;
        white-space: wrap; }
        #memApp .memContentOrderList .memContentOrderListHeader p span {
          font-size: 1.4rem;
          color: #141212;
          font-weight: 500;
          white-space: wrap; }
      #memApp .memContentOrderList .memContentOrderListHeader .memOrderListGoBackBtn {
        font-size: 1.4rem;
        color: #37AB64;
        font-weight: 700;
        white-space: wrap;
        cursor: pointer;
        transition-duration: 0.3s;
        transition-property: all;
        transform-origin: 50% 50%; }
        #memApp .memContentOrderList .memContentOrderListHeader .memOrderListGoBackBtn span {
          font-size: 1.4rem;
          color: #37AB64;
          font-weight: 700;
          white-space: wrap;
          margin-right: 3px; }
        #memApp .memContentOrderList .memContentOrderListHeader .memOrderListGoBackBtn:hover {
          color: #EA6227;
          transform: scale(1.1); }
          #memApp .memContentOrderList .memContentOrderListHeader .memOrderListGoBackBtn:hover span {
            color: #EA6227;
            transform: scale(1.1); }
  #memApp .memContentNone {
    display: none; }
