<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOW便當</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../dest/css/showbenton.css" />

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Vue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
  </head>

  <body>
    <!------------------header---------------->
    @@include('./layout/header.html',{})

    <div id="add" class="showBlock">
      <p class="showTitle">
        SHOW便當
      </p>
      <p class="showTitle1">美味便當Top3</p>
    </div>
    <!----------------新增按鈕--------------->
    <div id="addBenton" class="addBenton" @click="showBentonList">
      <img src="./images/showbenton/addition.png" />
    </div>

    <div class="kitchenTool"></div>

    <!------------------格線------------------>
    <!-- <div class="grid"></div> -->
    <!----------------跳出燈箱--------------->
    <div class="showbentonCover"></div>
    <div id="lightbox" class="showBentonListLightbox box1">
      <!-------Step1-------->
      <div v-if="showBentonImgList === true">
        <div class="bentoncarTitle">
          <span>請選擇喜愛的自選便當</span>
          <img class="closebox" @click="showCloselightbox" src="./images/showbenton/close.png" />
        </div>
        <ul class="bentoncardBox">
          <li
            :id="'bentonLi'+item.id"
            class="bentonCard"
            v-for="(item, index) in benton"
            :key="item.id"
            @click="showChooseBenton(item)"
          >
            <img
              :id="'riceimg'+item.id"
              :data-id="item.id"
              v-bind:src="item.img"
              alt=""
            />
          </li>
        </ul>
        <div class="confirmBentonBox1">
          <button class="Next" @click="showBentonStep1(false)">
            下一步
          </button>
        </div>
      </div>
      <!-------Step2-------->
      <div v-else>
        <div class="bentoncarTitle">
          <span> 請填寫便當內容</span>
          <img class="closebox" @click="showCloselightbox" src="./images/showbenton/close.png" />
        </div>
        <div class="bentonContentForm">
          <label class="Step2Title" for="Step2TitlText">標題：</label>
          <input
            id="Step2TitlText"
            class="Step2TitlStyle"
            placeholder="請輸入標題(最大字數20)"
            type="text"
            v-on:input="checkTitle"
            v-model="message"
          />
          <div class="Step2Space">
            <label class="Step2Content" for="Step2ContentText">內容：</label>
            <textarea
              placeholder="請輸入內容(最大字數50)"
              id="Step2ContentText"
              rows="15"
              cols="30"
              v-on:input="checkContent"
              v-model="messageContent"
            ></textarea>
            <div class="confirmBentonBox2">
              <button class="Pre" @click="showBentonStep1(true)">
                上一步
              </button>
              <button class="Send" @click="SendBenton">
                送出
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="showBentonImg" id="bentonWall">
      <div
        class="shareBenton"
        v-for="(notes,index) in bentonArray"
        :id="'bentonDiv'+index"
        :key="index"
      >
        <div class="WallSharebentonImg">
          <img
            @click="openLightBox(notes, index)"
            :id="'bentonimg'+index"
            :data-id="index"
            v-bind:src="notes.bentonImg"
            alt=""
          />
        </div>
        <p id="Step2TitlText">{{notes.title}}</p>
        <div class="ranking" style="margin: 30px 0 5px; text-align: right;">
          <img
            class="conversation"
            @click="openLightBox(notes, index)"
            src="./images/showbenton/conversation.png"
            width="30px"
            height="30px"
          />

          <img
            class="like"
            src="./images/showbenton/like.png"
            width="30px"
            height="30px"
            :data-num="index"
            :data-check="0"
            @click="change"
          />

          <span class="liketimes">{{notes.liketimes}}</span>
        </div>
      </div>

      <!----------點擊分享便當裡面的畫面------------>
      <div class="showBentonContentbox" id="mainBuyBenton">
        <div v-bind:class="currentBenton.cls">
          <img
            class="closebox"
            @click="showContentCloselightbox"
            src="./images/showbenton/close.png"
          />
          <!--發文者大區塊-->
          <div class="shareBlock">
            <img
              class="showBentonContentImg"
              v-bind:src="currentBenton.bentonImg"
              alt="where is mybenton"
              width="340"
              height="260"
            />
            <button class="buyMore" id="buyMore">加入購物車</button>
            <div class="memTextBlock">
              <img :src="currentBenton.memImage" class="memPicture" />
              <p class="member">{{currentBenton.memName}}</p>
              <p id="ContentTitlText">{{currentBenton.title}}</p>
              <p
                style="
                  word-break: break-all;
                  font-size: 14px;
                  text-align: left;
                  font-weight: 400;
                  letter-spacing: 1px;
                "
              >
                {{currentBenton.content}}
              </p>
              <p class="talkDateTime">{{currentBenton.postDateTime}}</p>
            </div>
          </div>
          <div class="messageBoard">
            <!--留言大區塊 -->
            <div class="mesTalks">–––––––– 留言區 ––––––––</div>
            <!--留言區-->
            <div class="talksBlock">
              <div v-for="talks in talkArray" id="show_msg" class="showmsg">
                <img :src="talks.memImage" class="memPicture" />
                <p class="member">{{talks.memName}}</p>
                <div class="report" @click="reportBox(talks)">檢舉</div>
                <div class="talkmessage">{{talks.talkmessage}}</div>

                <p class="talkDateTime">{{talks.dateTime}}</p>
              </div>
            </div>

            <form id="demo">
              <div></div>

              <textarea
                placeholder="我要留言.."
                class="comment"
                cols="45"
                rows="4"
                id="content"
                v-model="talkBlockMessage"
              ></textarea>
              <button
                type="button"
                id="showSend"
                style="display: block;"
                @click="talk"
              >
                送出
              </button>
            </form>
          </div>
          <p id="result"></p>
        </div>
        <div class="reportBox">
          <p class="reportContent">檢舉留言</p>
          <div class="reportChoose"> 
            <input id="rep1" type="radio" name="reportMes" value="0" checked>色情或煽情露骨的內容</br></option>
            <input id="rep2" type="radio" name="reportMes" value="1">仇恨言論或血腥暴力的內容</br></option>
            <input id="rep3" type="radio" name="reportMes" value="2" >不請自來的廣告或垃圾內容</br></option>
            <input id="rep4" type="radio" name="reportMes" value="3">騷擾或霸凌內容</br></option>
          </div >
          <p class="cancel" @click="reportBoxClose">取消</p>
          <p class="confirmRport"@click="confirmRport" >檢舉</p>
        </div>
      </div>
    </div>
    @@include('./layout/loginSignup.html',{})
    @@include('./layout/shoppingcart.html',{})
    @@include('./layout/footer.html',{})
    <script src="../dev/js/showbenton.js"></script>
    <script src="../dev//js/layout/loginSignup.js"></script>
    <script src="../dev/js/layout/shoppingcart.js"></script>
  </body>
</html>
