<nav id="homeTwoScreen">
  <div class="top_group">
    <div class="btn_switch">
      <div class="bgl top"></div>
      <div class="bgl"></div>
      <div class="bgl bottom"></div>
    </div>
    <a href="./homePage.html" class="logo">
      <img src="./images/header/寶島食堂LOGO_v3-02.png" alt="">
    </a>
    <div class="navgroup">
      <a href="../../dest/order.html" class="book">我要訂餐</a>
      <a href="../../dest/health.html" class="analysis">健康分析</a>
      <a href="../../dest/showbenton.html" class="showbento">SHOW便當</a>
      <a href="#" class="aboutus">關於我們</a>
    </div>
    <div class="navgroup_rwd">
      <a href="#" class="book">我要訂餐</a>
      <a href="#" class="analysis">健康分析</a>
      <a href="#" class="showbento">SHOW便當</a>
      <a href="#" class="aboutus">關於我們</a>
    </div>
    <div class="membergroup">
      <div id="shoppingcart"><img src="./images/header/shopping-cart.png" width="30" height="30" alt=""></div>
      <div id="member"><img src="./images/header/user.png" width="30" height="30" alt=""></div>
    </div>
  </div>
</nav>