<div class="home_am">
  <div class="am_title">門市資訊</div>
  <div class="am_group">
    <div class="left_map">
      <img class="store_icon" src="../image/home_am_map.jpg" alt="">
    </div>
    <div class="right_content">
      <div class="content_group">
        <div class="time">
          <div class="title">營業時間：</div>
          <div class="content">每周一到日 上午10點-晚上8點</div>
        </div>
        <div class="address">
          <div class="title">地址：</div>
          <div class="content">桃園市中壢區中央西路50段</div>
        </div>
        <div class="phone">
          <div class="title">電話：</div>
          <div class="content">03-52789456</div>
        </div>
      </div>
    </div>
  </div>
</div>