    <!-- 第 1 屏 -->
    <section style="height: 100vh;">
      <header class="eff">
        <!-- <video class="element-animation homeVideo-xs  homeVideo-md"
                style="clip-path: url(#smoke-clip);border: 0;right:-900px;top:-600px;z-index: 99999;mix-blend-mode: screen;position: relative;"
                width="500" height="1100" src="./images/homeFirst/smoke.mp4" muted="" autoplay="" loop=""></video>
            <video class="homeShowSmoke element-animation  homeVideo-xs" style="clip-path: url(#smoke-clip);"
                width="500" height="1100" src="./images/homeFirst/smoke.mp4" muted="" autoplay="" loop=""></video> -->
        <!-- 菜色輪播 -->
        <div class="homeCoverflow homeCoverflow-xs">
          <video
            class="homeShowSmoke element-animation homeShowSmoke-320 homeShowSmoke-1200"
            width="500"
            height="1100"
            src="./images/homeFirst/smoke.mp4"
            muted=""
            autoplay=""
            loop=""
          ></video>
          <video
            class="homeShowSmoke element-animation homeShowSmoke-320 homeShowSmoke-1200"
            style="clip-path: url(#smoke-clip);"
            width="500"
            height="1100"
            src="./images/homeFirst/smoke.mp4"
            muted=""
            autoplay=""
            loop=""
          ></video>
          <a class="homeFoodFishOpacity" href="#"><img src="./images/homeFirst/homeFoodFish.png"/></a>
          <a class="homeFoodPgOpacity" href="#"><img  src="./images/homeFirst/homeFoodPg.png"/></a>
        </div>
        <!-- end 菜色輪播 -->
      </header>
      <div class="homeTextBox fadeInUp">
        <h1>寶島食堂</h1>
        <h2>你中餐晚餐的好選擇</h2>
        <div class="home-section-form">
          <div class="home-location-form">
            <div class="homeAddIcon" id="gps1"></div>
            <input
              type="text"
              placeholder="輸入您的地址"
              class="homeAddInput"
              style="border: 1px solid #ccc;" id="input1"
            />
            <button type="submit" class="homeAddBtn" id="btn1">外送</button>
            <span class="homeBtnLinkSpan">或</span>
            <button type="submit" class="homeAddBtn" style="margin-right: 0;" id="headerOut">
              外帶自取
            </button>
          </div>
        </div>
      </div>
      <!-- 導引按鈕 -->
      <div class="homeMouse" id="homeNext"></div>
      <!-- end 導引按鈕 -->
    </section>
    <!-- end 第 1 屏 -->
