<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <!-- favicon.ico -->
    <link rel="icon" href="./images/homeFirst/favicon.ico" />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/homeFisrt.css" />
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
    <!-- ICON -->
    <script src="https://use.fontawesome.com/2287e04f65.js"></script>
  </head>

  <body>
    <!-- 第 1 屏 -->
    <section style="height: 100vh;">
      <header class="eff">
        <!-- <video class="element-animation homeVideo-xs  homeVideo-md"
                style="clip-path: url(#smoke-clip);border: 0;right:-900px;top:-600px;z-index: 99999;mix-blend-mode: screen;position: relative;"
                width="500" height="1100" src="./images/homeFirst/smoke.mp4" muted="" autoplay="" loop=""></video>
            <video class="homeShowSmoke element-animation  homeVideo-xs" style="clip-path: url(#smoke-clip);"
                width="500" height="1100" src="./images/homeFirst/smoke.mp4" muted="" autoplay="" loop=""></video> -->
        <!-- 菜色輪播 -->
        <!-- 隱藏菜名 -->
        <!-- <div class="homeLove-Fish loveElement-Fish"></div> -->
        <!-- <div class="homeLove-Pg loveElement-Pg"></div> -->
        <!-- end 隱藏菜名 -->
        <div class="homeCoverflow homeCoverflow-xs">
          <video
            class="homeShowSmoke element-animation homeShowSmoke-320 homeShowSmoke-1200"
            width="500"
            height="1100"
            src="./images/homeFirst/smoke.mp4"
            muted=""
            autoplay=""
            loop=""
          ></video>
          <video
            class="homeShowSmoke element-animation homeShowSmoke-320 homeShowSmoke-1200"
            style="clip-path: url(#smoke-clip);"
            width="500"
            height="1100"
            src="./images/homeFirst/smoke.mp4"
            muted=""
            autoplay=""
            loop=""
          ></video>
          <a class="homeFoodFishOpacity" href="#"><img src="./images/homeFirst/homeFoodFish.png"/></a>
          <a class="homeFoodPgOpacity" href="#"><img  src="./images/homeFirst/homeFoodPg.png"/></a>
        </div>
        <!-- end 菜色輪播 -->
      </header>
      <div class="homeTextBox fadeInUp">
        <h1>寶島食堂</h1>
        <h2>你中餐晚餐的好選擇</h2>
        <div class="home-section-form">
          <div class="home-location-form">
            <div class="homeAddIcon" id="gps1"></div>
            <input
              type="text"
              placeholder="輸入您的地址"
              class="homeAddInput"
              style="border: 1px solid #ccc;" id="input1"
            />
            <button type="submit" class="homeAddBtn" id="btn1">外送</button>
            <span class="homeBtnLinkSpan">或</span>
            <button type="submit" class="homeAddBtn" style="margin-right: 0;">
              外帶自取
            </button>
          </div>
        </div>
      </div>
      <!-- 導引按鈕 -->
      <div class="homeMouse" id="homeNext"></div>
      <!-- end 導引按鈕 -->
    </section>
    <!-- end 第 1 屏 -->

    <!-- 第 2 屏 -->
  </body>
</html>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD02IgpgazAmzATKes-_caAbP71BqItLQc"></script>
<script>
  let service = new google.maps.DistanceMatrixService();
</script>


<script>

    let input1 = document.getElementById('input1');
    let btn1 = document.getElementById('btn1');
    let gps1 = document.getElementById('gps1');
    btn1.addEventListener('click',()=>{
        service.getDistanceMatrix(
        {
            origins: [input1.value],
            destinations: ['桃園市中壢區中大路300號'],
            travelMode: google.maps.TravelMode["DRIVING"],
            unitSystem: google.maps.UnitSystem.METRIC,
        }, function(response, status) {
            if (status !== google.maps.DistanceMatrixStatus.OK) {
            window.alert('Error was' + status);
            } else {
            console.log(response);
            if(response.rows[0].elements[0].distance.value > 5000 ){
                // document.getElementById('orderAddress').innerHTML='超出外送範圍';
                // document.getElementById('orderAddress').style.color = 'red';
                orderClass=-1;
                localStorage.setItem('orderClass',orderClass);
                alert(`
                    總共距離${response.rows[0].elements[0].distance.text}，超出外送範圍
                    ${response}
                    `);
            }else{
                document.getElementById('orderAddress').innerHTML = '外送地址 :'+response.originAddresses[0];
                orderClass=0;
                localStorage.setItem('address',response.originAddresses[0]);
                localStorage.setItem('orderClass',orderClass);
                alert(`總共距離${response.rows[0].elements[0].distance.text}，運送時間預估${response.rows[0].elements[0].duration.text}`);
            }
            }
        });
        input.value = '';
    });
    gps1.addEventListener('click',()=>{
        navigator.geolocation.getCurrentPosition(
        succCallback,
        errorCallback,
        {
            enableHighAccuracy: false,
            timeout: 10000000,
            maximumAge: 0,
        });
    });
    function succCallback(e){
    let lati = e.coords.latitude;
    let longi = e.coords.longitude;
    let accuracy = e.coords.accuracy;
    service.getDistanceMatrix(
        {
            origins: [{lat: lati, lng: longi}],
            destinations: ['桃園市中壢區中大路300號'],
            travelMode: google.maps.TravelMode["DRIVING"],
            unitSystem: google.maps.UnitSystem.METRIC,
        }, function(response, status) {
            if (status !== google.maps.DistanceMatrixStatus.OK) {
            window.alert('Error was' + status);
            } else {
            console.log(response.originAddresses);
            if(response.rows[0].elements[0].distance.value > 5000 ){
                orderClass=-1;
                localStorage.setItem('orderClass',orderClass);
                document.getElementById('input1').value=response.originAddresses[0];
                // document.getElementById('orderAddress').innerHTML='超出外送範圍';
                // document.getElementById('orderAddress').style.color = 'red';
                alert(`
                    你的地址: ${response.originAddresses[0]}
                    總共距離${response.rows[0].elements[0].distance.text}，超出外送範圍
                    ${response.originAddresses}
                    
                `)
                ;
            }else{
                // document.getElementById('orderAddress').innerHTML = '外送地址 :'+response.originAddresses[0];
                document.getElementById('input1').value = `${response.originAddresses[0]}`;
                orderClass=0;
                localStorage.setItem('address',response.originAddresses[0]);
                localStorage.setItem('orderClass',orderClass);
                alert(` 你的地址: ${response.originAddresses[0]},總共距離${response.rows[0].elements[0].distance.text}，運送時間預估${response.rows[0].elements[0].duration.text}`);
            }
            }
        });
    
    }

    function errorCallback(e){
        document.getElementById('position').innerHTML = `錯誤碼: ${e.code}<br>錯誤訊息: ${e.message}`
    }
</script>
