<div class=" cont s--inactive">
  <!-- s--inactive是一開始載入時的動畫 -->
  <!-- cont inner start-->
  <div class="cont__inner">
    <!-- el start 這邊是第一區 -->
    <div class="el first">
      <!--點選區域後觸發 s--active-->
      <div class="el__overflow">
        <!--顯示長條狀圖案，關閉後只有黑色背景-->
        <div class="el__inner">
          <div class="el__bg"></div>
          <!--背景圖-->
          <div class="el__preview-cont">
            <!-- 用來包section1文字 -->
            <h2 class="el__heading"></h2>
          </div>
          <div class="el__content">
            <!--點開後出現內容-->
            <div class="el__text">精選便當</div>
            <div class="el__close-btn"></div>
            <div class="el__leaderBoards">
              <div class="leaderBoard"></div>
              <div class="leaderBoard"></div>
              <div class="leaderBoard"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="el__index left">
        <!--數字列-->
        <div class="el__index-back">精選便當</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="精選便當">精選便當</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start 這邊是第二區 -->
    <div class="el sec middle">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"></h2>
          </div>
          <div class="el__content">
            <div class="el__text">自選便當</div>
            <div class="el__close-btn"></div>
            <div class="el__leaderBoards">
              <a href="#" class="leaderBoard a1">
                <div class="top_img">
                </div>
                <div class="content">自選便當</div>
              </a>
              <a href="#" class="leaderBoard a2">
                <canvas id="canvas"></canvas>
                <div class="top_img">
                </div>
                <div class="content">自選便當</div>
              </a>
              <a href="#" class="leaderBoard a3">
                <div class="top_img">
                </div>
                <div class="content">自選便當</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="el__index mid">
        <div class="el__index-back">自選便當</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="自選便當">自選便當</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start 這邊是第三區 -->
    <div class="el third">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading"></h2>
          </div>
          <div class="el__content">
            <div class="el__text">季節便當</div>
            <div class="el__close-btn"></div>
            <div class="el__leaderBoards">

            </div>
          </div>
        </div>
      </div>
      <div class="el__index right">
        <div class="el__index-back">季節便當</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="季節便當">季節便當</div>
        </div>
      </div>
    </div>
    <!-- el end -->

  </div>
  <!-- cont inner end -->
</div>
