<div id="list">
  <div class="ordercart">
    <h3>自選便當</h3>
    <div v-for="(item, index) in finalsinglelist">
      <span :id="'b'+item.sNum" :data-num="item.sNum">X</span>
      <table>
        <tr>
          <td>{{item.rice}}</td>
          <td>x1</td>
          <td></td>
          <!-- <td>NT${{item.riceprice}}</td> -->
        </tr>
        <tr>
          <td>{{item.meat}}</td>
          <td>x1</td>
          <td></td>
          <!-- <td>NT${{item.meatprice}}</td> -->
        </tr>
        <tr>
          <td>{{item.single1}}</td>
          <td>x1</td>
          <td></td>
          <!-- <td>NT${{item.single1price}}</td> -->
        </tr>
        <tr>
          <td>{{item.single2}}</td>
          <td>x1</td>
          <td></td>
          <!-- <td>NT${{item.single2price}}</td> -->
        </tr>
        <tr>
          <td>{{item.single3}}</td>
          <td>x1</td>
          <td></td>
          <!-- <td>NT${{item.single3price}}</td>   -->
        </tr>
        <tr>
          <td>總價格:</td>
          <td>NT$ {{item.soPrice}}</td>
        </tr>
      </table>
    </div>
    <h3>經典便當</h3>
    <div v-for="(item, index) in finalsetdolist">
      <span :id="'setdodelete'+ item.setdoId" :data-num="item.setdoId">X</span>
      <table>
        <tr>
          <td>{{item.setdoName}}</td>
          <td>NT${{item.setdoPrice}}</td>
          <td></td>
          <td>x{{item.setdoMany}}</td>
        </tr>
      </table>
    </div>
    <h3>其他商品</h3>
    <div v-for="(item, index) in finalorderlist">
      <span :id="'orderdelete'+item.otherId" :data-num="item.otherId">X</span>
      <table>
        <tr>
          <td>{{item.otherName}}</td>
          <td>NT${{item.otherPrice}}</td>
          <td></td>
          <td>x{{item.otherMany}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
