@import "./main";

.table {
    font-family: 'Roboto';
    // width: 96%;
    border-collapse: collapse;
    border: solid 1px lighten(black, 70%);
    th {
    color: $green;
    font-size: 1.5rem;
    // height: 56px;
    border-top: solid 1px lighten(black, 70%);
    border-left: solid 1px lighten(black, 70%);
    text-align: center;
    padding-left: 12px;
    }
    
    tr {
        td {
            color: $black;
            font-size: 1rem;
            // height: 48px;
            border-top: solid 1px lighten(black, 70%);
            border-left: solid 1px lighten(black, 70%);
            padding: 10px;
            // padding: 0 24px 0 24px;
            text-align: center;
            padding-left: 12px;
        }
    }
}

button{
    @include btn(100px,40px);
    font-size: 1rem;
    line-height: 1rem;
    transform: scale(.8);
    &:hover{
        transform: scale(1);
    }
}

.backEndBox{
    // border: 1px solid red;
    width: 1300px;
    margin: 0 auto;
    height: 800px;
}

#bkMemberBox{
    .container {
        padding: 50px;
    }
}

.backEndBoxNone{
    display: none;
}