@import "./main";

.homeFooter{
background-color:$grey;
font-size:$fzContent;
line-height: 50px;
height: 50px;
margin-top: -50px;
padding: 0 5%;
width: 100%;
.homeFooterBox{
    margin: 0 auto;
    border: 1px solid red;
    ul{
    li{
    display:inline;
    border: 1px solid green;
    letter-spacing: 5px;
    margin: 0 3%;
    &:first-child{
        border: 1px solid red;
        letter-spacing: 2px;
    }
    &:hover{
        color: #a5b7c6;
    }
    }
    }
  }
}