@import "./main";

@mixin span {
  position: absolute;
  width: 90%;
  height: 5px;
  bottom: 10px;
  transition: 1s;
  z-index: -1;
  @content;
}

// @mixin aHover {
//   a:hover {
//     @content
//   }
// }
@mixin icHover {

  //不寫&在hover後面會有空格導致無法運作
  &:hover {
    @content;
  }
}

nav {
  width: 100%;
  position: relative;
  opacity: 1;
  transition: all ease 1s;
  z-index: 30;
  padding: 10px 0;
  overflow: hidden;

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 30;
    opacity: 1;
    transition: all ease .1s;
  }

  @include flexStyle(center, center, column);

  .top_group {
    width: 100%;
    position: relative;
    opacity: 1;
    transition: all ease 1s;
    background-color: rgb(255, 255, 255);
    z-index: 30;
    @include flexStyle(space-evenly, center);

    .logo {
      width: 25%;
      display: block;
      display: flex;
      min-width: 200px;

      img {
        width: 85%;
        max-width: 100%;
        height: auto;
        margin-left: 7%;
      }
    }

    .navgroup {
      width: 80%;
      display: flex;
      font-size: 1.2rem;
      margin-left: 10%;
      justify-content: center;
      // border: 1px solid red;


      .book,
      .analysis,
      .showbento,
      .aboutus {
        text-decoration: none;
        width: 200px;
        color: #000;
        position: relative;

        @include icHover {
          color: $orange;
        }

        @include flexStyle(center, center);

        &:before {
          content: "";
          overflow: hidden;
          position: absolute;
          transform: translate3d(0, 0, 0);
          // display: block;
          left: 3%;
          background-image: url(../../dest/images/header/faultc_01.png);
          width: 50px;
          height: 50px;
          transition: .5s;
        }

        &:after {
          content: "";
          // display: block;
          position: absolute;
          left: 3%;
          background-color: #fff;
          width: 50px;
          height: 50px;
          transform: translate3d(0, 0, 0);
          opacity: 1;


        }

        @include icHover {
          //這邊的&也要加不然也會有空格

          &:after {
            content: "";
            // display: block;
            position: absolute;
            left: 3%;
            background-color: #fff;
            width: 50px;
            height: 50px;
            transform: translate3d(0, -5vw, 0);
            opacity: 1;
            transition: .8s ease-out;
          }
        }


      }

      .showbento {
        &:before {
          left: -2%;
        }

        &:after {
          left: -2%;
        }

        @include icHover {
          &:after {
            left: -2%;
          }
        }
      }
    }

    .membergroup {
      width: 30%;
      display: flex;
      font-size: 1.5rem;
      justify-content: space-evenly;
      align-items: center;

      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #000;
        position: relative;
      }
    }

    .btn_switch {
      display: none;
    }

    // @include aHover {
    //   .span0,
    //   .span1,
    //   .span2,
    //   .span3 {
    //     height: 80px;
    //   }
    // }

  }
}

@media(max-width: 1200px) {
  nav {
    width: 100%;
    position: relative;
    opacity: 1;
    transition: all ease 1s;
    z-index: 30;
    padding: 10px 0;

    &.fixed {
      position: fixed;
      top: 0;
      z-index: 30;
      opacity: 1;
      transition: all ease .1s;
    }

    @include flexStyle(center, center, column);

    .top_group {
      width: 100%;
      position: relative;
      opacity: 1;
      transition: all ease 1s;
      background-color: rgb(255, 255, 255);
      z-index: 30;
      @include flexStyle(space-evenly, center);

      .logo {
        width: 25%;
        display: block;
        display: flex;
        min-width: 250px;

        img {
          width: 85%;
          max-width: 100%;
          height: auto;
          margin-left: 7%;
        }
      }

      .navgroup {
        width: 80%;
        display: flex;
        font-size: 1.2rem;
        margin-left: 10%;
        justify-content: center;
        // border: 1px solid red;


        .book,
        .analysis,
        .showbento,
        .aboutus {
          text-decoration: none;
          width: 200px;
          color: #000;
          position: relative;
          margin-left: -50px;

          @include flexStyle(center, center);

          &:before {
            content: "";
            overflow: hidden;
            position: absolute;
            transform: translate3d(0, 0, 0);
            // display: block;
            left: 6%;
            background-image: url(../../dest/images/header/faultc_01.png);
            width: 50px;
            height: 50px;
            transition: .5s;
            transform: scale(0.8);
          }

          &:after {
            content: "";
            // display: block;
            position: absolute;
            left: 6%;
            background-color: #fff;
            width: 50px;
            height: 50px;
            transform: translate3d(0, 0, 0);
            opacity: 1;


          }

          @include icHover {
            //這邊的&也要加不然也會有空格

            &:after {
              content: "";
              // display: block;
              position: absolute;
              left: 0%;
              background-color: #fff;
              width: 50px;
              height: 50px;
              transform: translate3d(0, -5vw, 0);
              opacity: 1;
              transition: .8s ease-out;
            }
          }


        }

        .showbento {
          &:before {
            left: 3%;
          }

          &:after {
            left: 3%;
          }

          @include icHover {
            &:after {
              left: 3%;
            }
          }
        }
      }

      .membergroup {
        width: 30%;
        display: flex;
        font-size: 1.5rem;
        justify-content: space-evenly;
        align-items: center;

        a {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #000;
          position: relative;

          img {
            width: 25px;
            height: 25px;
          }
        }
      }

      .btn_switch {
        display: none;
      }

      // @include aHover {
      //   .span0,
      //   .span1,
      //   .span2,
      //   .span3 {
      //     height: 80px;
      //   }
      // }

    }
  }
}