@import "./main";


* {
    box-sizing: border-box;
    @import "base/_fontStyle.scss";

}

body {
    margin: 0;
    $notoSans: 'Noto Sans', sans-serif;
    $notoSansTC: 'Noto Sans TC', sans-serif;
}
div.wrapper {
    background-image: url("../images/healthImages/blackBoard.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    // border: 1px solid red;
    overflow: hidden;
    width: 100%;
    min-width: 1200px;
    // min-height: calc(100vh - 50px); // footer置底
    .content {
        // border: 1px solid blue;
        width: 1200px;
        margin: 0 auto;
    }
    .title {
        //border: 1px solid black;
        width: 100%;
        color: white;
        font-family: Noto Sans TC;
        margin: 0 auto;
        font-size: 2.3rem;
        letter-spacing: 5px;
        padding: 10px;
    }
    .title2 {
        // border: 1px solid orange;
        color: #ffd23f;
        width: 100%;
        margin: 0 auto;
        font-size: 1.5rem;
        margin-bottom: 30px;
        letter-spacing: 1px;
        padding: 10px;
    }
    .board {
        // border: 1px solid black;
        width: 1000px;
        height: 300px;
        margin: auto;
        border: 1px solid #eceee7;
        background: #eceee7;
        opacity: 0.8;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
        padding: 55px;
        text-align: center;
        color:#37AB64;
            #number,
            p.separate,
            #numberTotal {
            display: inline-block;
            color:#37AB64;
        }
            p.separate {
            width: 10px;
            color:#37AB64;
        }
        #questionPanel {
            width: 80%;
            // border: 1px solid black;
            font-size: 2rem;
            margin: auto;
            text-align: center;
            color:#37AB64;
        }
        
        #questionOptions {
            display: inline-flex;
        
            #a1 {
                width: 230px;
                height: 50px;
                text-align: center;
                border: 0;
                border-radius: 10px;
                margin-top: 30px;
                margin-left: 10px;
                font-size: 1.5rem;
                vertical-align: bottom;
                color:black;
                background-color: #ffd23f;
        
            }
        
            #a2 {
                width: 230px;
                height: 50px;
                text-align: center;
                border: 0;
                border-radius: 10px;
                margin-top: 30px;
                margin-left: 10px;
                font-size: 1.5rem;
                vertical-align: bottom;
                color:black;
                background-color: #ffd23f;
            }
        
            #a3 {
                width: 230px;
                height: 50px;
                text-align: center;
                border: 0;
                border-radius: 10px;
                margin-top: 30px;
                margin-left: 10px;
                font-size: 1.5rem;
                vertical-align: bottom;
                color:black;
                background-color: #ffd23f;
            }
        }
        #questionOptions {
            #a1:hover {
                cursor: pointer;
                background-color: #f5da7f;
                
            }
            #a2:hover {
                cursor: pointer;
                background-color: #f5da7f;
            }
            #a3:hover {
                cursor: pointer;
                background-color: #f5da7f;
            }
        }
        
    }
    .imgLogo {
        width: 150px;
        margin-left: auto;
        margin-right: 40px;
        margin-bottom: 100px;
        margin-top: -20px;
        position: relative;
        z-index: 1;
    }
}
div.overlay {
    position: fixed;
    right: 25%;
    top: 25%;
    width: 50%;
    padding: 1%;
    background-color: rgba(199, 198, 198, 1);
    box-shadow: 0 0 10px rgb(104, 104, 104);
    border-radius: 5px;
    z-index: 1;
    opacity: 1;
    line-height: 50px;

        div.overlay.-opacity-zero {
            opacity: 0;
    }
        form>h2 {
            text-align: center;
    }
        .bmiContent {
            width: 100%;
    }
        div.bmiForm {
            color: black;
            width: 500px;
            padding: 15px;
            margin: 0 auto;
            font-size: 1rem;
        }
        div.overlay>div.bmiForm {
            width: 60%;
            margin: 0 auto;
            max-width: 800px;
            border-radius: 5px;
            padding: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 35px;
    }
        p.resultTitle {
            width: 74px;
            font-size: 1.5rem;

    }

        #result {
            color: red;
    }

        p,#result {
            width: 150px;
            margin: 0;
            display: inline-block;
    }
        div.btn{
        width: 50px;
        margin-left: auto;
        margin-top: -40px;
    }
        #send {
            @include btn(70px,50px,$fz:20px);
                line-height: 44px;
            }
}




//以下為測驗結果舊版
.wrapper2{
    // border: 1px solid red;
    width: 100%;
    height: auto;
    margin: 0 auto;
    .healthLeftBox{  //左盒子
        // border: 1px solid green;
        width: 50%;
        display: inline-block;
        margin-right: auto;
        vertical-align: top;
        h1{
            font-size: 2rem;
            color: #595959;
            text-align: left;
            padding: 20px;
            margin-top: 1%;
        }
        .healBento{
            width: 65%;
            margin: 0 auto;
            text-align: center;
            img{
                width: 100%;
            }
        }
        .healCartBtn{
            @include btn(120px,30px,$fz:16px);
            // width: 100px;
            // height: 30px;
            //text-align: center;
            // background: #ea6627;
            // border-radius: 5px;
            line-height: 22px;
            margin: 20px auto;
            #healthCart{
                text-decoration: none;
                color:white;
            }
        }
    }
    .healthRightBox{  //右盒子
        // border: 1px solid greenyellow; 
        width: 48%;
        margin-left: auto;
        display: inline-block;
        margin-top: 2%;
        p.title3{
            font-size: 1rem;
            width: 12%;
            display: inline-block;
            vertical-align: sub;
            margin-bottom: 4%;
            // border: 1px solid #456214 ;
        }
        h1{
            // border: 1px solid deeppink;
            width: 200px;
            display: inline-block;
            color:#ea6627;
        }
        .title3_content{
            // border: 1px solid maroon;
            width: 100%;
            margin-bottom: 4%;
            margin-top: -4%;
            #healthBody{
                @include btn(120px,30px,$fz:16px);
                text-decoration: none;
                // width: 100px;
                // height: 30px;
                // text-align: center;
                // background: #ea6627;
                // color:white;
                // border-radius: 5px;
                // line-height: 33px;
                    margin: 20px 1%;
                // padding: 5px 8px;
            }
        }
        .healPieChart{
            width: 55%;
            display: inline-flex;
            margin-left: 15%;
            img{
                // border: 1px solid black;
                width: 90%;
            }
        }
    }
    .healthBottomBox{ //底部盒子
        // border: 1px solid blue;
        width: 100%;
        height: 150px;
        margin: 0 auto;
        display: flex;
        margin-top: 6%;
        .bottomInner{
            width: 100%;
            margin: 0 auto;
            display: flex;
            margin-top:-6%;
            #healMainFood{
            display: flex;
            width: 27%;
            margin-left: 15%;
            .mainFood{
                //border: 1px solid black;
                width: 300px;
                height: 20px;
                padding: 6%;
                display: flex;
                position: relative;
            .meat{
                position: absolute;
                width: 90px;
                height: 90px;
                left: 20%;
                top: 65%;
                padding-left: 1%;
                z-index: 1;
            }
            .plate{
                // border: 1px solid blue;
                width: 120px;
                height: 120px;
                position: absolute;
                z-index: 0;
            }
            .healFoodName{
                //border: 1px solid red;
                width: 100px;
                height: 10px;
                color: black;
                position: absolute;
                top:100px;
                text-align: center;
                padding-top: 5%;
                margin-top: 20%;
                left: 20%;
            }
            }
        }
        #healCooks{
            display: flex;
            width: 42%;
            .cooks{
            //border: 1px solid black;
            width: 300px;
            height: 20px;
            padding: 4%;
            display: flex;
            position: relative;
                .veg{
                    // border: 1px solid blue;
                    position: absolute;
                    width: 90px;
                    height: 90px;
                    left: 18%;
                    top: 70%;
                    padding-left: 1%;
                    z-index: 1;
                }
                .plate{
                    // border: 1px solid blue;
                    width: 120px;
                    height: 120px;
                    position: absolute;
                    z-index: 0;
                }
                .healFoodName{
                    // border: 1px solid red;
                    width: 100px;
                    height: 10px;
                    color: black;
                    position: absolute;
                    top:100px;
                    text-align: center;
                    padding-top: 5%;
                    margin-top: 20%;
                    left: 20%;
                }
            }
        }
    }
}
        .mainFood{
            width: 200px;
        }
    }
.wrapper2None{
    display: none;
}




// RWD

@media (min-width:320px) and (max-width:576px){
    div.wrapper {
    // border: 3px solid red;
    width: 100%;
    min-width: 100%;
    .content {
        width: 100%;
    }
    .title {
        width: 100%;
        text-align: center;
    }
    p.title2 {
        width: 100%;
        margin: 0 auto;
        padding: 3px;
        margin: 1px;
        font-size: 1rem;
    }
    div.board {
        width: 90%;
        height: 400px;
        font-size: 1rem;
        padding: 2%;
            #questionPanel {
            width: 100%;
            font-size: 1rem;
            text-align: center;
            color:#37AB64;
            }
            #questionOptions {
                width: 100%;
                display: block;
                font-size: .5rem;
                // vertical-align: bottom;
                color:#37AB64;
                #a1{
                    color:#37AB64;
                    width: 200px;
                    font-size: .5rem;
                }
                #a2{
                    
                    color:#37AB64;
                    width: 200px;
                    font-size: .5rem;
                }
                #a3{
                    color:#37AB64;
                    width: 200px; 
                    font-size: .5rem;
                }
            }
            #questionOptions>button {
                margin: auto;
            }
    }
    .imgLogo {
        width: 150px;
        left: 20px;
        margin-right: 40px;
        margin-bottom: 30px;
        top: -26px;
        position: relative;
        z-index: 1;
            img {
                width: 100%;
            }
        }
    }
    div.overlay {
                width: 93%;
                left:4%;
                div.bmiForm {
                    width: 86%;
                font-size: xx-small;
                line-height: 40px;
                    }
                div.bmiForm>h2 {
                    width: 100%;
                    font-size: 1.2rem;
                    margin-top: 15px;
                    }
                .bmiContent {
                    font-size: 1rem;
                    }
                p.resultTitle {
                    font-size: small;
                    }
                p.btn{
                    width: 50px;
                    margin: auto;
                }
                button.btnClose{
                    cursor: pointer;
                }
            }
}
@media (min-width:320px) and (max-width:576px){
    .wrapper2{
        // border: 1px solid red;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        .healthLeftBox{
            // border: 1px solid black;
            width: 100%;
            h1{
                padding: 0;
                margin-top: 5%;
                text-align: center;
            }
            .healBento{
                // border: 1px solid blue;
                width: 80%;
                .imgBox{
                    width: 100%;
                }
            }
        }
        .healthRightBox{
            padding: 2%;
            width: 95%;
            .title3{
                width: 20% !important;
                text-align: center;
            }
            .title3_content{
                // border: 1px solid maroon;
                width: 90%;
                margin-bottom: 5%;
                margin-top: -5%;
                margin-left: 5%;
                #healthBody{
                    @include btn(100px,30px,$fz:16px);
                    text-decoration: none;
                    
                    // width: 100px;
                    // height: 30px;
                    // text-align: center;
                    // background: #ea6627;
                    // color:white;
                    // border-radius: 5px;
                    line-height: 33px;
                    margin: 20px 4px;
                    padding: 5px 8px;
                }
            }
            .healPieChart{
                width: 70%;
                display: flex;
                margin: 0 auto;
                img{
                    // border: 1px solid black;
                    width: 100%;
                    margin-bottom: 30%;
                }
            }
        }
        .healthBottomBox{
            display: none;
        }
    }
}