@import "./main";


* {
    // box-sizing: border-box;
    @import "base/_fontStyle.scss";

}
#homeTwoScreen .top_group .navgroup .analysis{
    color: $orange;
    font: 12px;
    &:before {
    content: "";
    overflow: hidden;
    position: absolute;
    transform: translate3d(0, 0, 0);
      // display: block;
    left: 1%;
    background-image: url(../../dest/images/header/faultc_01.png);
    width: 50px;
    height: 50px;
    transition: .5s;
    opacity: 1;
        }
    }
body {
    margin: 0;
    $notoSans: 'Noto Sans', sans-serif;
    $notoSansTC: 'Noto Sans TC', sans-serif;
}

.healthCover{
    @include coverBlack();
    min-height: 850px;
    left: auto;
    top: auto;
    z-index:998;
    //display: block;
    }


div.wrapper {
        //display: none;
        background-image: url("../images/healthImages/blackBoard.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        // border: 1px solid red;
        overflow: hidden;
        width: 100%;
        min-width: 1200px;
        min-height: calc(100vh - 50px); // footer置底
        .content {
        // border: 1px solid blue;
        width: 1200px;
        margin: 0 auto;
        }
        .title {
        //border: 1px solid black;
        width: 100%;
        color: white;
        font-family: Noto Sans TC;
        margin: 0 auto;
        font-size: 2.3rem;
        letter-spacing: 5px;
        padding: 10px;
        }
        .title2 {
            // border: 1px solid orange;
            color: #ffd23f;
            width: 100%;
            margin: 0 auto;
            font-size: 1.5rem;
            margin-bottom: 30px;
            letter-spacing: 1px;
            padding: 10px;
            }
        .board {
            // border: 1px solid black;
            width: 1000px;
            height: 300px;
            margin: auto;
            border: 1px solid #eceee7;
            background: #eceee7;
            opacity: 0.8;
            border-radius: 5px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
            padding: 55px;
            text-align: center;
            color:#37AB64;
            #number,
            p.separate,
            #numberTotal {
            display: inline-block;
            color:#37AB64;
            line-height: 70px;
        }
            p.separate {
            width: 10px;
            color:#37AB64;
        }
        #questionPanel {
            width: 80%;
            // border: 1px solid black;
            font-size: 2rem;
            margin: auto;
            text-align: center;
            color:#37AB64;
        }
        
        #questionOptions {
            display: inline-flex;
        
            #a1 {
                width: 230px;
                height: 50px;
                text-align: center;
                border: 0;
                border-radius: 10px;
                margin-top: 30px;
                margin-left: 10px;
                font-size: 1.5rem;
                vertical-align: bottom;
                color:black;
                background-color: #ffd23f;
                outline: none;
            }
        
            #a2 {
                width: 230px;
                height: 50px;
                text-align: center;
                border: 0;
                border-radius: 10px;
                margin-top: 30px;
                margin-left: 10px;
                font-size: 1.5rem;
                vertical-align: bottom;
                color:black;
                background-color: #ffd23f;
                outline: none;
            }
        
            #a3 {
                width: 230px;
                height: 50px;
                text-align: center;
                border: 0;
                border-radius: 10px;
                margin-top: 30px;
                margin-left: 10px;
                font-size: 1.5rem;
                vertical-align: bottom;
                color:black;
                background-color: #ffd23f;
                outline: none;
            }
        }
        #questionOptions {
            #a1:hover {
                cursor: pointer;
                background-color: #f5da7f;
                outline: none;
            }
            #a2:hover {
                cursor: pointer;
                background-color: #f5da7f;
                outline: none;
            }
            #a3:hover {
                cursor: pointer;
                background-color: #f5da7f;
                outline: none;
            }
        }
        
        }
        .imgLogo {
            width: 200px;
            margin-left: auto;
            margin-right: 80px;
            margin-bottom: 100px;
            margin-top: -70px;
            position: relative;
            z-index: 1;
            img{
                width: 100%;
        }
        }
  
        div.overlay {
            position: fixed;
            transform: translate(-50%, -50%);
            top:55%;
            left: 50%;
            width: 600px;
            padding: 1%;
            background-color: rgba(199, 198, 198, 1);
            box-shadow: 0 0 10px rgb(104, 104, 104);
            border-radius: 5px;
            z-index: 1200;
            opacity: 1;
            line-height: 50px;
        div.overlay.-opacity-zero {
            opacity: 1;
        }
        form>h2 {
            text-align: center;
        }
        .bmiContent {
            width: 100%;
        }
        div.bmiForm {
            color: black;
            width: 500px;
            padding: 15px;
            margin: 0 auto;
            font-size: 1rem;
        }
        div.overlay>div.bmiForm {
            width: 60%;
            margin: 0 auto;
            max-width: 800px;
            border-radius: 5px;
            padding: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 35px;
        }
        p.resultTitle {
            width: 74px;
            font-size: 1.5rem;
        }
        #result {
            color: red;
            font-size: 24px;
        }
        p,#result {
            width: 150px;
            margin: 0;
            display: inline-block;
        }
        div.btn{
        width: 50px;
        height: 0;
        margin-left: auto;
        // margin-top: -40px;
        outline: none;
        }
        #send {
            @include btn(70px,50px,$fz:20px);
                line-height: 44px;
                outline: none;
            }
    }
    
}




//以下為測驗結果
.wrapper2{
    // border: 1px solid red;
    width: 100%;
    height: auto;
    margin: 0 auto;
    .healthLeftBox{  //左盒子
        text-align: center;
        // border: 1px solid green;
        width: 50%;
        display: inline-block;
        margin-right: auto;
        vertical-align: top;
        h1{
            width: 200px;
            font-size: 2rem;
            color: #595959;
            padding: 20px;
            margin:auto;
            margin-top: 1%;
        }
        .healBento{
            width: 605px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            .imgBox{
                width: 100%;
            }
            #healthRice{
                width:300px;
                height: 380px;
                position: absolute;
                top:80px;
                left:60px;
            }
            #healthMeat{
                width:300px;
                height: 350px;
                position: absolute;
                top:80px;
                left:70px;
                z-index: 2;
            }
            #healthDish1{
                width: 220px;
                height: 220px;
                position: absolute;
                top: 50px;
                right: 70px;
            }
            #healthDish2{
                width: 220px;
                height: 220px;
                position: absolute;
                top: 130px;
                right: 70px;
            }
            #healthDish3{
                width: 220px;
                height: 220px;
                position: absolute;
                top: 240px;
                right: 70px;
            }
            #healthBentoBottom{
                position: absolute;
                bottom: 15px;
                right: 5px;
                width: 600px;
            }
        }
        .healCartBtn{
            @include btn(150px,40px,$fz:20px);
            // width: 100px;
            // height: 30px;
            //text-align: center;
            // background: #ea6627;
            // border-radius: 5px;
            line-height: 22px;
            margin: 20px auto;
            #healthCart{
                text-decoration: none;
                color:white;
            }
        }
    }
    .healthRightBox{  //右盒子
        // border: 1px solid greenyellow; 
        width: 48%;
        margin-left: auto;
        display: inline-block;
        margin-top: 2%;
        p.title3{
            font-size: 1rem;
            width: 12%;
            display: inline-block;
            vertical-align: sub;
            margin-bottom: 4%;
            font-size: 1.2rem;
            letter-spacing: 3px;
            line-height: 40px;
            // border: 1px solid #456214 ;
        }
        h1{
            // border: 1px solid deeppink;
            width: 200px;
            display: inline-block;
            color:#ea6627;
        }
        .title3_content{
            // border: 1px solid maroon;
            width: 100%;
            margin-bottom: 4%;
            margin-top: -4%;
            font-size: 1.2rem;
            letter-spacing: 2px;
            line-height: 25px;
            #healthBody{
                @include btn(120px,30px,$fz:16px);
                text-decoration: none;
                // width: 100px;
                // height: 30px;
                // text-align: center;
                // background: #ea6627;
                // color:white;
                // border-radius: 5px;
                // line-height: 33px;
                    margin: 20px 1%;
                // padding: 5px 8px;
            }
        }
        .healPieChart{
            width: 55%;
            display: inline-flex;
            canvas{
                // border: 1px solid black;
                width: 90%;
            }
            .healSelect{
                background-color: #ededed;
                height: 280px;
                border-radius: 10px;
                padding: 0 10px;
                margin-top: 50px;
                ul.select{
                    margin-top: 20px;
                    padding: 0;
                    list-style: none;
                    }
                p.select__title{
                    font-size: 20px;
                    font-weight: bold;
                    width: 250px;
                }
                ul li p {
                    display: block;
                    text-decoration: none;
                    color: #000;
                    width: 250px;
                    padding: 5px 15px 5px 15px; 
                    // background: #fff;
                    }
                // ul li p{
                //     background: #EDEDED;
                //     }
                li ul {
                    display: none;
                }
                li ul {
                    display: block;
                    position: absolute;
                    list-style: none;
                }
            }
        }
    }
    .healthBottomBox{ //底部盒子
        // border: 1px solid blue;
        width: 100%;
        height: 150px;
        margin: 0 auto;
        display: flex;
        margin-top: 4%;
        margin-bottom: 5%;
        .bottomInner{
            width: 100%;
            margin: 0 auto;
            display: flex;
            margin-top: -3%;
            #healMainFood{
            display: flex;
            width: 27%;
            margin-left: 15%;
            }
            .mainFood{
                //border: 1px solid black;
                box-sizing: border-box;
                width: 300px;
                height: 20px;
                padding: 6%;
                display: flex;
                position: relative;
            .meat{
                position: absolute;
                width: 90px;
                height: 90px;
                left: 16%;
                top: 65%;
                padding-left: 1%;
                z-index: 1;
            }
            .plate{
                // border: 1px solid blue;
                width: 120px;
                height: 120px;
                position: absolute;
                z-index: 0;
            }
            .healFoodName{
                //border: 1px solid red;
                width: 100px;
                height: 10px;
                color: black;
                position: absolute;
                top:100px;
                text-align: center;
                padding-top: 5%;
                margin-top: 20%;
                left: 20%;
            }
            }
        }
        #healCooks{
            display: flex;
            width: 42%;
            .cooks{
            //border: 1px solid black;
            width: 300px;
            height: 20px;
            padding: 4%;
            display: flex;
            position: relative;
            box-sizing: border-box;
                .veg{
                    // border: 1px solid blue;
                    position: absolute;
                    width: 90px;
                    height: 90px;
                    left: 18%;
                    top: 70%;
                    padding-left: 1%;
                    z-index: 1;
                }
                .plate{
                    // border: 1px solid blue;
                    width: 120px;
                    height: 120px;
                    position: absolute;
                    z-index: 0;
                }
                .healFoodName{
                    // border: 1px solid red;
                    width: 100px;
                    height: 10px;
                    color: black;
                    position: absolute;
                    top:100px;
                    text-align: center;
                    padding-top: 5%;
                    margin-top: 20%;
                    left: 20%;
                }
            }
        }
    }
}

        .mainFood{
            width: 200px;
        }
    
.wrapper2None{
    display: none;
}




// RWD

@media (min-width:320px) and (max-width:576px){
    div.wrapper {
    // border: 3px solid red;
    width: 100%;
    min-width: 100%;
    .content {
        width: 100%;
    }
    .title {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    p.title2 {
        width: 100%;
        margin: 0 auto;
        line-height: 25px;
        margin: 1px;
        font-size: .5rem;
    }
    div.board {
        width: 90%;
        height: 400px;
        font-size: 1rem;
        line-height: 50px;
        padding: 2%;
            #questionPanel {
            width: 100%;
            font-size: 1rem;
            text-align: center;
            color:#37AB64;
            }
            #questionOptions {
                width: 100%;
                display: block;
                font-size: .5rem;
                // vertical-align: bottom;
                color:#37AB64;
                #a1{
                    color:#37AB64;
                    width: 200px;
                    font-size: .5rem;
                }
                #a2{
                    
                    color:#37AB64;
                    width: 200px;
                    font-size: .5rem;
                }
                #a3{
                    color:#37AB64;
                    width: 200px; 
                    font-size: .5rem;
                }
            }
            #questionOptions>button {
                margin: auto;
            }
    }
    .imgLogo {
        width: 150px;
        top: 30px;
        position: relative;
        z-index: 1;
            img {
                width: 100%;
            }
        }
    }
    div.overlay{
                width: 93% !important;
                left:4%;
                div.bmiForm {
                    width: 86% !important;
                    font-size: xx-small;
                    line-height: 40px;
                    }
                div.bmiForm>h2 {
                    width: 100%;
                    font-size: 1.2rem;
                    margin-top: 15px;
                    }
                .bmiContent {
                    font-size: 1rem;
                    }
                p.resultTitle {
                    font-size: small;
                    }
                .btn{
                    // border: 1px solid red;
                    width: 50px;
                    margin-left: 230px !important;
                }
                button.btnClose{
                    cursor: pointer;
                }
            }
}
@media (min-width:320px) and (max-width:576px){
    .wrapper2{
        // border: 1px solid red;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        .healthLeftBox{
            // border: 1px solid black;
            width: 100%;
            h1{ 
                width: 60%;
                padding: 0;
                margin: 0 auto;
            }
            .healBento{
                // border: 1px solid blue;
                width: 80%;
                .imgBox{
                    width: 100%;
                    position: relative;
                }
                #healthRice{
                    width: 50%;
                    height: 87%;
                    position: absolute;
                    top: 4%;
                    left: 8%;
                }
                #healthMeat{
                    width: 50%;
                    height: 80%;
                    position: absolute;
                    top: 5%;
                    left: 10%;
                    z-index: 2;
                }
                #healthDish1{
                    width: 47%;
                    height: 40%;
                    position: absolute;
                    top: 6%;
                    right: 3%;
                }
                #healthDish2{
                    width: 47%;
                    height: 40%;
                    position: absolute;
                    top: 27%;
                    right: 3%;
                }
                #healthDish3{
                    width: 42%;
                    height: 40%;
                    position: absolute;
                    top: 53%;
                    right: 3%;                
                }
                #healthBentoBottom{
                    position: absolute;
                    bottom: 3%;
                    width: 99%;
                }
            }
        }
        .healthRightBox{
            padding: 2%;
            width: 95%;
            .titleBox{
                width: 100%;
                .title3{
                width: 27% !important;
                text-align: center;
                }
            .title3_content{
                // border: 1px solid maroon;
                width: 90%;
                margin-bottom: 5%;
                margin-top: -5%;
                margin-left: 5%;
                font-size: 1rem;
                letter-spacing: 0;
                #healthBody{
                    @include btn(100px,30px,$fz:16px);
                    text-decoration: none;
                    
                    // width: 100px;
                    // height: 30px;
                    // text-align: center;
                    // background: #ea6627;
                    // color:white;
                    // border-radius: 5px;
                    line-height: 33px;
                    padding: 5px 8px;
                    white-space:pre-wrap;
                }
            }
            }
            
            
            .healPieChart{
                width: 70%;
                display: block;
                margin: 0 auto;
                canvas{
                    // border: 1px solid black;
                    width: 100% !important;
                    margin-bottom: 30%;
                }
                .healSelect{
                    width: 280px;
                    display: block;
                    height: 270px;
                    margin: -20% auto 25%;
                    background: #EDEDED;
                    border-radius: 10px;
                    padding: 1px 1px;
                    ul.select{
                        padding: 0;
                        list-style: none;
                        }
                    p.select__title{
                        font-size: 20px;
                        font-weight: bold;
                        width: 250px;
                    }
                    ul li p {
                        display: block;
                        text-decoration: none;
                        color: #000;
                        width: 250px;
                        padding: 5px 15px 5px 15px; 
                        // background: #fff;
                        }
                    // ul li p{
                    //     background: #EDEDED;
                    //     }
                    li ul {
                        display: none;
                    }
                    li ul {
                        // display: block;
                        // position: absolute;
                        list-style: none;
                    }
                }
                
            }
        }
        .healthBottomBox{
            display: none;
        }
    }
    .wrapper2None{
        display: none;
    }
}
@media (max-width: 375px){
    .healPieChart{
        width: 100% !important;
        display: block;
        margin: 0 auto;
        canvas{
            // border: 1px solid black;
            width: 300px !important;
            margin-bottom: 30%;
        }
    }
}
@media (max-width: 414px){
    .healPieChart{
        width: 100% !important;
        display: block;
        margin: 0 auto;
        canvas{
            // border: 1px solid black;
            width: 300px !important;
            margin-bottom: 30%;
        }
    }
}