@import "./main";

* {
    box-sizing: border-box;
    @import "base/_fontStyle.scss";

}

body {
    margin: 0;
    background-image: url("../images/healthImages/blackBoard.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-size: cover;
}



div.wrapper {
    // border: 1px solid red;
    width: 100%;
    min-width: 1200px;
    min-height: calc(100vh - 50px); // footer置底
}

.content {
    // border: 1px solid blue;
    width: 1200px;
    margin: 0 auto;

}

h1.title {
    //border: 1px solid black;
    width: 100%;
    color: white;
    font-family: Noto Sans TC;
    margin: 0 auto;
    font-size: 2.3rem;
    letter-spacing: 5px;
    padding: 10px;
}

p.title2 {
    // border: 1px solid orange;
    color: #ffd23f;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 30px;
    letter-spacing: 1px;

    padding: 10px;
}



div.overlay {
    position: fixed;
    right: 25%;
    top: 25%;
    width: 50%;
    height: 50vh;
    background-color: rgba(199, 198, 198, 1);
    box-shadow: 0 0 10px rgb(104, 104, 104);
    border-radius: 5px;
    z-index: 1;
    opacity: 1;
    line-height: 50px;

        div.overlay.-opacity-zero {
            opacity: 0;
    }
        form>h2 {
            text-align: center;
    }
        .bmiContent {
            width: 100%;
    }
        div.bmiForm {
            color: black;
            width: 400px;
            padding: 15px;
            margin: 0 auto;
            font-size: 1rem;
        }
        div.overlay>div.bmiForm {
            width: 60%;
            margin: 0 auto;
            max-width: 800px;
            border-radius: 5px;
            padding: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 35px;
    }
        p.resultTitle {
            width: 74px;
            font-size: 1.5rem;

    }

        #result {
            color: red;
    }

        p,#result {
            width: 150px;
            margin: 0;
            display: inline-block;
    }
        p.btn {
            width: 45px;
            cursor: pointer;
            

    }
    button.btnClose{
        cursor: pointer;
    }
}


div.board {
    // border: 1px solid black;
    width: 1000px;
    height: 300px;
    margin: auto;
    border: 1px solid #eceee7;
    background: #eceee7;
    opacity: 0.8;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
    padding: 55px;
    text-align: center;
    color:#37AB64;
    

}

p.separate {
    width: 10px;
    color:#37AB64;
}

#number,
p.separate,
#numberTotal {
    display: inline-block;
    color:#37AB64;
}

#questionPanel {
    width: 80%;
    // border: 1px solid black;
    font-size: 2rem;
    margin: auto;
    text-align: center;
    color:#37AB64;
}

#questionOptions {
    display: inline-flex;

    #a1 {
        width: 230px;
        height: 50px;
        text-align: center;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 1.5rem;
        vertical-align: bottom;
        color:#37AB64;

    }

    #a2 {
        width: 230px;
        height: 50px;
        text-align: center;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 1.5rem;
        vertical-align: bottom;
        color:#37AB64;
    }

    #a3 {
        width: 230px;
        height: 50px;
        text-align: center;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 1.5rem;
        vertical-align: bottom;
        color:#37AB64;
    }
}

#questionOptions {
    #a1:hover {
        cursor: pointer;
        background-color: #ffd23f;
    }

    #a2:hover {
        cursor: pointer;
        background-color: #ffd23f;
    }

    #a3:hover {
        cursor: pointer;
        background-color: #ffd23f;
    }

}



.imgLogo {
    width: 150px;
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: 100px;
    margin-top: -20px;
    position: relative;
    z-index: 1;
}

div.wrapper2 {
    // border: 1px solid red;
    width: 100%;
    min-width: 1200px;
    background-image: url("../images/healthImages/blackBoard.jpg");

}

#examResult {
    display: none;
}

.content {
    // border: 1px solid blue;
    width: 1200px;
    margin: 0 auto;

}

h1.title1 {
    // border: 1px solid black;
    width: 100%;
    color: white;
    font-family: 'Noto Sans TC';
    margin-left: auto;
    font-size: 2.5rem;
    

}

p.title3 {
    // border: 1px solid orange;
    color: #ffd23f;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 50px;
    text-align: center;
    h3{
        color: white;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
    }
}



p.healMainFood {
    width: 126px;
    margin-right: auto;
    color: white;
    font-size: 1.4rem;
}

p.healCooks {
    width: 80px;
    margin-right: auto;
    color: white;
    font-size: 1.4rem;
}

p.healBento {
    width: 120px;
    margin-right: auto;
    color: white;
    font-size: 1.4rem;
}

ul.mainFood {
    // border: 1px solid red;
    width: 1000px;
    display: flex;
    list-style: none;
    margin: auto;
    margin-bottom: 50px;
    padding: 0;
    li{
        // border: 1px solid blue;
        margin: 20px auto;

    }
    li>img{
        width: 280px;
        height: 300px;
        background-color: whitesmoke;
    }
    li>p{
        display: flex;
        justify-content: center;
        color: #ffd23f;
    }
}



ul.cooks {
        // border: 1px solid red;
        width: 1000px;
        display: flex;
        list-style: none;
        margin: auto;
        margin-bottom: 50px;
        padding: 0;

    li{
        // border: 1px solid blue;
        margin: 20px auto;
    }

    li>img{
        width: 280px;
        height: 250px;
        background-color: whitesmoke;
        
    }

    li>p{
        display: flex;
        justify-content: center;
        color: #ffd23f;
    }
}



ul.bento {
    // border: 1px solid red;
    width: 1000px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    margin-bottom: 100px;

    li.dish {
        // border: 1px solid gray;
        width: 300px;
        margin-left: auto;
        color: #ffd23f;
        font-size: 1.2rem;
        line-height: 60px;
    }
    
    li.img {
        margin-right: auto;
        
    
    }
    
    #healthCart {
        position: relative;
        margin-left: auto;
        padding-top: 3px;
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: #ea6627;
        color: white;
    }
    img.rader{
        margin: 20px;
    }
    li.img,
    button.cart {
        display: block;
        margin: auto;
    }
}




// RWD
@media screen and ( max-width: 576px ) and ( min-width: 375px ){
    div.wrapper {
        // border: 3px solid red;
        width: 100%;
        min-width: 100%;
    }

    .content {
        width: 100%;

    }

    h1.title {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }

    p.title2 {
        width: 100%;
        margin: 0 auto;
        font-size: .5rem;
        padding: 40px;
    }

    div.board {
        width: 90%;
        height: 400px;
        font-size: 1rem;
        
    }

    #questionPanel {
        width: 100%;
        font-size: 1rem;
        text-align: center;
        color:#37AB64;
    }

    #questionOptions {
        width: 100%;
        display: block;
        font-size: .5rem;
        // vertical-align: bottom;
        color:#37AB64;
        #a1{
            
            color:#37AB64;
            width: 200px;
            font-size: .5rem;
        }
        #a2{
            
            color:#37AB64;
            width: 200px;
            font-size: .5rem;
        }
        #a3{
           
            color:#37AB64;
            width: 200px; 
            font-size: .5rem;
        }
    }

    #questionOptions>button {
        margin: auto;
    }

    .imgLogo {
        width: 150px;
        left: 20px;
        margin-right: 40px;
        margin-bottom: 100px;
        top: -26px;
        position: relative;
        z-index: 1;
    }
    div.imgLogo>img {
        width: 100%;
    }


    div.wrapper2 {
        width: 100%;
        min-width: 100%;
    }

    h1.title1 {
        width: 30%;
        margin: 0 auto;
        padding-top: 5px;
        text-align: center;
        font-size: 1.2rem;
    }

    p.title3 {
        width: 100%;
        margin: 0 auto;
        font-size: .5rem;
        padding: 10px;
        text-align: center;
         a {
        font-size: 1rem;
        }
        h3{
        color: white;
        }
    }

   

    p.healMainFood,
    p.healCooks,
    p.healBento {
        font-size: 1rem;
        padding-left: 20px;
        margin: auto;
    }

    ul.mainFood{
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        li{
            margin: auto;
        }
        li>img{
            width: 145px;
            height:200px;
        }
        li>p{
            display: flex;
            justify-content: center;
            color: #ffd23f;
        }
    }

    

    ul.cooks{
        width: 100%;
        margin-bottom: 20px;
        li>img{
            width: 100px;
            height: 80px;
        }
        li>p{
            display: flex;
            justify-content: center;
            color: #ffd23f;
        }
    }


    ul.bento {
        width: 100%;
        display: block;

            li {
                width: 45%;
                margin: 0 auto;
            }

            img {
                width: 100%;
            }

            li.dish {
                width: 60%;
                font-size: .5rem;
                line-height: 20px;
            }

            li.img {
                width: 55%;
                margin: 0 auto;
            }

            li.img>img.rader {
                width: 70%;
            }

            #healthCart {
                width: 38%;
                font-size: 10px;
                left: 65px;
            }
    }

    

    div.overlay {
            width: 70%;
            transform: translateX(60px);

        div.bmiForm {
            width: 95%;
            font-size: xx-small;
            line-height: 45px;
            }
        div.bmiForm>h2 {
            width: 100%;
            font-size: 1.2rem;
            margin-top: 30px;
            }
        .bmiContent {
            font-size: 1rem;
            }
        p.resultTitle {
            font-size: small;
            }
        p.btn{
            width: 50px;
            margin: auto;
        }
        button.btnClose{
            cursor: pointer;
        }
    }



    

    

}
@media screen and (max-width:376px){
    div.overlay {
        width: 85%;
        transform: translateX(66px);

    div.bmiForm {
        width: 94%;
        font-size: xx-small;
        padding: 3%;
        line-height: 40px;
        }
    div.bmiForm>h2 {
        width: 100%;
        font-size: 1rem;
       
        }
    .bmiContent {
        font-size: .5rem;
        }
    p.resultTitle {
        font-size: small;
        }
        #result{
            width: 125px;
        }
    p.btn{
        width: 50px;
        margin: auto;
    }
    button.btnClose{
        cursor: pointer;
    }
   }
}