@import "./main";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#canvas {
  display: block;
  position: absolute;
  transform: translate3d(-20%, -20%, 0);
}

$vertPad: 20px;
$sidePad: 18px;
$numOfEls: 5;
$elMrg: 1%;

$initAT: 1s;
$initDelayStep: 0.1s;
$fullInitAT: $initAT+$initDelayStep * ($numOfEls - 1);
$moveAT: 0.6s;
$expandAT: 0.7s;
$expandDelay: 0.1s;
$bgScaleAT: 0.8s;
$fadeoutAT: $moveAT+$expandAT/2;
$indexHoverAT: 0.5s;
$closeBtnAT: 0.3s;
$closeBtnLineDelay: 0.15s;
$fullExpandAT: $moveAT+$expandDelay+$expandAT;
$contentFadeinAT: 0.5s;

@mixin myaction {
  //這是點擊後展開的內容與動畫
  z-index: 1;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform $moveAT, width $expandAT $moveAT + $expandDelay, z-index 0s, clip-path .5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  margin-left: 0%; //使打開後的畫面置中，用外圍的padding撐


  .el__bg {
    transform: translate3d(0, 0, 0);
    transition: transform $moveAT;

    &:before {
      transition-delay: $moveAT;
      transform: scale(1.1);
      opacity: 1;
      transition: background-image $moveAT, opacity .5s,
        transform .5s;
    }
  }

  @content;
}

@mixin fontPos {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: $vertPad * 0.2;
  width: 100%;
  height: 100%;
  min-height: 250px;
  text-align: left;
  font-size: calc(100vw / 25);
  line-height: 11.5;
  font-weight: bold;
  transition: transform $indexHoverAT, opacity $moveAT/2 $expandAT + $expandDelay + $moveAT;
  transform: translate3d(0, -1vw, 0);
  @content;
}

@mixin top_img_size {

  background-size: center;
  background-position: 0 0;
  width: 200px;
  height: 200px;
  @content;
}

@mixin LB_content {
  font-size: $fzSubtitle;
  @content;
}

@mixin elHover {
  .el:hover & {
    // 這種寫法可以讓include時在該類別前多一個css，常用於互動
    @content;
  }
}

@mixin elActive {
  .el.s--active & {
    @content;
  }
}

@mixin contInactive {
  .cont.s--inactive & {
    @content;
  }
}

@mixin contElActive {
  .cont.s--el-active & {
    @content;
  }
}

.cont {
  position: relative;
  overflow: hidden;
  height: 91vh;
  background-color: black;

  &__inner {
    position: relative;
    height: 100%;

    &:hover .el__bg:after {
      /* 不在其規定區塊時全亮，到大區塊時全暗 opacity0.3，hover到的其中區塊變亮 opacity 0 */
      opacity: 1;
    }
  }
}

.el {
  $elW: (100% - $elMrg * ($numOfEls - 1)) / $numOfEls;
  $elMrgRel: percentage($elMrg / $elW);
  // width: calc(100%/3);
  position: absolute;
  left: 0;
  top: 0;
  // width: $elW;
  height: 100%;
  background: #252525;
  transition: transform $moveAT $expandAT, width $expandAT, opacity $moveAT $expandAT, z-index 0s $moveAT + $expandAT, clip-path $moveAT;
  will-change: transform, width, opacity;

  &:not(.s--active) {
    cursor: pointer;
  }

  &__overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  &__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform $initAT;

    @include contInactive {
      transform: translate3d(0, 100%, 0);
    }
  }

  &__bg {
    position: relative;
    width: calc(100vw - #{$sidePad * 2});
    height: 100%;
    transition: transform $moveAT $expandAT;
    will-change: transform;

    &:before {
      /* 這裡用來放圖片位置設定(圖片另外用) */
      content: "";
      position: absolute;
      left: 0;
      top: -5%;
      width: 100%;
      height: 110%;
      background-size: cover;
      background-position: center center;
      transition: transform $initAT;
      transform: translate3d(0, 0, 0) scale(1);

      @include contInactive {
        transform: translate3d(0, -100%, 0) scale(1.2);

      }

      @include elActive {
        transition: transform $bgScaleAT;
      }
    }

    &:after {
      /* 這裡是圖片遮罩 */
      $opacityAT: 0.5s;
      content: "";
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: opacity $opacityAT;

      @include contElActive {
        transition: opacity $opacityAT $fullExpandAT;
        // opacity: 1 !important;(它會讓打開後的內部變暗)
      }
    }
  }

  &__preview-cont {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s $fullInitAT - 0.2s;

    @include contInactive {
      /* 出場時的效果 */
      opacity: 0;
      transform: translateY(10px);
    }

    @include contElActive {
      /* 點擊後套用文字向下消失 */
      opacity: 0;
      transform: translateY(30px);
      transition: all 0.5s;
    }
  }

  &__heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
  }

  &__content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;

    @include elActive {
      z-index: 2;
      opacity: 1;
      pointer-events: auto;
      transition: all $contentFadeinAT $fullExpandAT;
    }
  }

  &__leaderBoards {
    @include flexStyle(space-around, center);
    background-color: $orange;
    height: 42vw;
    transition: all 0.1s;

    ul {
      width: 100%;
      @include flexStyle(space-around, center);
      list-style: none;

      li {
        @include flexStyle(center, center, column-reverse);
        color: black;
        font-size: $fzSubtitle;
<<<<<<< HEAD

        img {
=======
        .benton_price,.benton_name{
          cursor: pointer;
        }
        img{
>>>>>>> 565a98fff8283935d52b6acb2b5d607a6fffa90f
          margin-bottom: 30%;
        }
      }
    }

    .leaderBoard {
      // height: 500px;
      // background-color: red;
      width: 200px;
      height: 200px;

      &.sec,
      &.first,
      &.third {
        opacity: 0;

        @include elActive {
          opacity: 1;
          pointer-events: auto;
          transform: translate3d(0, 0, 0);
        }
      }

      &.sec {
        transform: translate3d(-10vw, 3vw, 0);


        @include elActive {
          transition: all $contentFadeinAT $fullExpandAT +.5;
        }

        .top_img {
          @include top_img_size {}
        }

        .content {
          @include LB_content {
            margin-top: 50%;
          }
        }
      }

      &.first {
        transform: translate3d(0, -3vw, 0);
        position: relative;

        @include elActive {
          transition: all $contentFadeinAT $fullExpandAT +.8;
        }

        .top_img {
          position: absolute;

          @include top_img_size {}
        }

        .content {
          @include LB_content {
            margin-top: 150%;
          }
        }
      }

      &.third {
        transform: translate3d(10vw, 5vw, 0);

        @include elActive {
          transition: all $contentFadeinAT $fullExpandAT +1;
        }

        .top_img {
          @include top_img_size {}
        }

        .content {
          @include LB_content {
            margin-top: 50%;
          }
        }
      }
    }

  }

  &__text {
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(36, 36, 36);
  }

  &__close-btn {

    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s $closeBtnAT + $closeBtnLineDelay;
    cursor: pointer;

    @include elActive {
      z-index: 5;
      opacity: 1;
      pointer-events: auto;
      transition: all 0s $fullExpandAT;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 8px;
      margin-top: -4px;
      background: rgb(36, 36, 36);
      opacity: 0;
      transition: opacity 0s;

      @include elActive {
        opacity: 1;
      }
    }

    &:before {
      transform: rotate(45deg) translateX(100%);

      @include elActive {
        transition: all $closeBtnAT $fullExpandAT cubic-bezier(.72, .09, .32, 1.57);
        transform: rotate(45deg) translateX(0);
      }
    }

    &:after {
      transform: rotate(-45deg) translateX(100%);

      @include elActive {
        transition: all $closeBtnAT $fullExpandAT + $closeBtnLineDelay cubic-bezier(.72, .09, .32, 1.57);
        transform: rotate(-45deg) translateX(0);
      }
    }
  }

  &__index {
    @include fontPos {}



    @include elHover {
      /* hover後出現 位置從-1vw到0 */
      transform: translate3d(0, 0, 0);
    }

    @include contElActive {
      transition: transform $indexHoverAT, opacity $moveAT/2;
      opacity: 0;
    }

    &-back,
    &-front {
      /* 重疊的兩組文字定位 */
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    &-back {
      /* 背後文字底色 */
      color: #2f3840;
      opacity: 0;
      transition: opacity $indexHoverAT/2 $indexHoverAT/2;

      @include elHover {
        /* hover後的效果未出現到出現 */
        transition: opacity $indexHoverAT/2;
        opacity: 1;
      }
    }

    &-overlay {
      /* 遮罩色層 */
      overflow: hidden;
      position: relative;
      transform: translate3d(0, 100%, 0);
      transition: transform $indexHoverAT 0.1s;
      color: transparent;
      /* 全透明黑色，不加的話會多層黑影 */

      &:before {
        /* 填色層，增加白色效果 */
        content: attr(data-index);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        transform: translate3d(0, -100%, 0);
        /* 先把顏色藏起 */
        transition: transform $indexHoverAT 0.1s;
      }

      @include elHover {
        /* hover 使顏色填滿 */
        transform: translate3d(0, 0, 0);

        &:before {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  &__index.left {
    text-align: left;
    margin-left: 5%;
  }

  &__index.mid {
    text-align: center;
  }

  &__index.right {
    text-align: right;
    margin-left: -5%;
  }

  @for $i from 0 to $numOfEls {
    &:nth-child(#{$i + 1}) {
      $x: (100% + $elMrgRel) * $i;
      transform: translate3d($x, 0, 0);
      transform-origin: $x + 50% 50%;

      @include contElActive {

        &:not(.s--active) {
          transform: scale(0.5) translate3d($x, 0, 0); //讓沒被選到的變小
          opacity: 0;
          transition: transform $fadeoutAT, opacity $fadeoutAT;
          z-index: 0; //因為一開始必須切和多邊形 這邊要補上才不會其他塊再背景點到
        }
      }

      .el__inner {
        transition-delay: $initDelayStep * $i;
      }

      .el__bg {
        transform: translate3d($elW * $i * -1, 0, 0);

        &:before {
          transition-delay: 0.1s * $i;
          background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-#{$i + 3}.jpg');
        }
      }
    }
  }

  &:hover {

    .el__bg:after {
      opacity: 0;
    }
  }

  &.first.s--active,
  &.sec.s--active,
  &.third.s--active {
    @include myaction {
      .el__bg:before {
        background-image: url(../../dest/images/homepage/BG.png);
      }
    }
  }



  // &.s--active {
  //   // 這邊不include的因是上面就是el了
  //   z-index: 1;
  //   width: 100%;
  //   transform: translate3d(0, 0, 0);
  //   transition: transform $moveAT, width $expandAT $moveAT + $expandDelay, z-index 0s, clip-path $moveAT;



  //   .el__bg {
  //     transform: translate3d(0, 0, 0);
  //     transition: transform $moveAT;

  //     &:before {
  //       transition-delay: $moveAT;
  //       transform: scale(1.1);
  //     }
  //   }
  // }
}

.el.first {
  background-color: #fff;
  z-index: 11;
  clip-path: polygon(0 0, 78% 0, 53% 100%, 0% 100%);
  width: 40%;

}

.el.sec {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  width: 50%;
  z-index: 10;
  // margin-left: -45%;
  transform: translateX(50%);
}

.el.third {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 40% 100%);
  width: 35%;
  margin-left: -8.5%;
  z-index: 11;
}
@media(max-width: 1200px) {
  @mixin fontPos {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: $vertPad * 0.2;
    width: 100%;
    height: 100%;
    min-height: 250px;
    text-align: left;
    font-size: calc(100vw / 25);
    line-height: 18;
    font-weight: bold;
    transition: transform $indexHoverAT, opacity $moveAT/2 $expandAT + $expandDelay + $moveAT;
    transform: translate3d(0, -1vw, 0);
    @content;
  }
  .cont {
    position: relative;
    overflow: hidden;
    height: 92vh;
    background-color: black;
  
    &__inner {
      position: relative;
      height: 100%;
  
      &:hover .el__bg:after {
        /* 不在其規定區塊時全亮，到大區塊時全暗 opacity0.3，hover到的其中區塊變亮 opacity 0 */
        opacity: 1;
      }
    }
  }
  
  .el {
    $elW: (100% - $elMrg * ($numOfEls - 1)) / $numOfEls;
    $elMrgRel: percentage($elMrg / $elW);
    // width: calc(100%/3);
    position: absolute;
    left: 0;
    top: 0;
    // width: $elW;
    height: 100%;
    background: #252525;
    transition: transform $moveAT $expandAT, width $expandAT, opacity $moveAT $expandAT, z-index 0s $moveAT + $expandAT, clip-path $moveAT;
    will-change: transform, width, opacity;
  
    &:not(.s--active) {
      cursor: pointer;
    }
  
    &__overflow {
      overflow: hidden;
      position: relative;
      height: 100%;
    }
  
    &__inner {
      overflow: hidden;
      position: relative;
      height: 100%;
      transition: transform $initAT;
  
      @include contInactive {
        transform: translate3d(0, 100%, 0);
      }
    }
  
    &__bg {
      position: relative;
      width: calc(100vw - #{$sidePad * 2});
      height: 100%;
      transition: transform $moveAT $expandAT;
      will-change: transform;
  
      &:before {
        /* 這裡用來放圖片位置設定(圖片另外用) */
        content: "";
        position: absolute;
        left: 0;
        top: -5%;
        width: 100%;
        height: 110%;
        background-size: cover;
        background-position: center center;
        transition: transform $initAT;
        transform: translate3d(0, 0, 0) scale(1);
  
        @include contInactive {
          transform: translate3d(0, -100%, 0) scale(1.2);
  
        }
  
        @include elActive {
          transition: transform $bgScaleAT;
        }
      }
  
      &:after {
        /* 這裡是圖片遮罩 */
        $opacityAT: 0.5s;
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity $opacityAT;
  
        @include contElActive {
          transition: opacity $opacityAT $fullExpandAT;
          // opacity: 1 !important;(它會讓打開後的內部變暗)
        }
      }
    }
  
    &__preview-cont {
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s $fullInitAT - 0.2s;
  
      @include contInactive {
        /* 出場時的效果 */
        opacity: 0;
        transform: translateY(10px);
      }
  
      @include contElActive {
        /* 點擊後套用文字向下消失 */
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.5s;
      }
    }
  
    &__heading {
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
    }
  
    &__content {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 50px 0;
      text-align: center;
      opacity: 0;
      pointer-events: none;
      transition: all 0.1s;
  
      @include elActive {
        z-index: 2;
        opacity: 1;
        pointer-events: auto;
        transition: all $contentFadeinAT $fullExpandAT;
      }
    }
  
    &__leaderBoards {
      @include flexStyle(space-around, center);
      background-color: $orange;
      height: 42vw;
      transition: all 0.1s;
      ul{
        width: 100%;
        @include flexStyle(space-around, center);
        list-style: none;
        li{
          @include flexStyle(center, center,column-reverse);
          color: black;
          font-size: $fzSubtitle;
          .benton_price,.benton_name{
            cursor: pointer;
          }
          img{
            margin-bottom: 30%;
          }
        }
      }
      .leaderBoard {
        // height: 500px;
        // background-color: red;
        width: 200px;
        height: 200px;
        &.sec,&.first,&.third{
          opacity: 0;
          @include elActive {
            opacity: 1;
            pointer-events: auto;
            transform: translate3d(0, 0, 0);
          }
        }
        &.sec{
          transform: translate3d(-10vw, 3vw, 0);
          
          
        @include elActive {
          transition: all $contentFadeinAT $fullExpandAT +.5;
        }
  
        .top_img {
          @include top_img_size {
            
          }
        }
  
        .content {
          @include LB_content {
            margin-top: 50%;
          }
        }
        }
        &.first{
          transform: translate3d(0, -3vw, 0);
          position: relative;
          @include elActive {
            transition: all $contentFadeinAT $fullExpandAT +.8;
          }
    
          .top_img {
            position: absolute;
    
            @include top_img_size {
              
            }
          }
    
          .content {
            @include LB_content {
              margin-top: 150%;
            }
          }
        }
        &.third{
          transform: translate3d(10vw, 5vw, 0);
          @include elActive {
            transition: all $contentFadeinAT $fullExpandAT +1;
          }
    
          .top_img {
            @include top_img_size {
            
            }
          }
    
          .content {
            @include LB_content {
              margin-top: 50%;
            }
          }
        }
      }
  
    }
  
    &__text {
      text-transform: uppercase;
      font-size: 40px;
      color: rgb(36, 36, 36);
    }
  
    &__close-btn {
  
      z-index: -1;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 60px;
      height: 60px;
      opacity: 0;
      pointer-events: none;
      transition: all 0s $closeBtnAT + $closeBtnLineDelay;
      cursor: pointer;
  
      @include elActive {
        z-index: 5;
        opacity: 1;
        pointer-events: auto;
        transition: all 0s $fullExpandAT;
      }
  
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 8px;
        margin-top: -4px;
        background: rgb(36, 36, 36);
        opacity: 0;
        transition: opacity 0s;
  
        @include elActive {
          opacity: 1;
        }
      }
  
      &:before {
        transform: rotate(45deg) translateX(100%);
  
        @include elActive {
          transition: all $closeBtnAT $fullExpandAT cubic-bezier(.72, .09, .32, 1.57);
          transform: rotate(45deg) translateX(0);
        }
      }
  
      &:after {
        transform: rotate(-45deg) translateX(100%);
  
        @include elActive {
          transition: all $closeBtnAT $fullExpandAT + $closeBtnLineDelay cubic-bezier(.72, .09, .32, 1.57);
          transform: rotate(-45deg) translateX(0);
        }
      }
    }
  
    &__index {
      @include fontPos {}
  
  
  
      @include elHover {
        /* hover後出現 位置從-1vw到0 */
        transform: translate3d(0, 0, 0);
      }
  
      @include contElActive {
        transition: transform $indexHoverAT +0.5, opacity $moveAT/2;
        opacity: 0;
      }
  
      &-back,
      &-front {
        /* 重疊的兩組文字定位 */
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
      }
  
      &-back {
        /* 背後文字底色 */
        color: #2f3840;
        opacity: 0;
        transition: opacity $indexHoverAT/2 $indexHoverAT/2 ;
  
        @include elHover {
          /* hover後的效果未出現到出現 */
          transition: opacity $indexHoverAT/2;
          opacity: 1;
        }
      }
  
      &-overlay {
        /* 遮罩色層 */
        overflow: hidden;
        position: relative;
        transform: translate3d(0, 100%, 0);
        transition: transform $indexHoverAT 0.1s;
        color: transparent;
        /* 全透明黑色，不加的話會多層黑影 */
  
        &:before {
          /* 填色層，增加白色效果 */
          content: attr(data-index);
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          color: #fff;
          transform: translate3d(0, -100%, 0);
          /* 先把顏色藏起 */
          transition: transform $indexHoverAT 0.1s;
        }
  
        @include elHover {
          /* hover 使顏色填滿 */
          transform: translate3d(0, 0, 0);
  
          &:before {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  
    &__index.left {
      text-align: left;
      margin-left: 5%;
    }
  
    &__index.mid {
      text-align: center;
    }
  
    &__index.right {
      text-align: right;
      margin-left: -5%;
    }
  
    @for $i from 0 to $numOfEls {
      &:nth-child(#{$i + 1}) {
        $x: (100% + $elMrgRel) * $i;
        transform: translate3d($x, 0, 0);
        transform-origin: $x + 50% 50%;
  
        @include contElActive {
  
          &:not(.s--active) {
            transform: scale(0.5) translate3d($x, 0, 0); //讓沒被選到的變小
            opacity: 0;
            transition: transform $fadeoutAT, opacity $fadeoutAT;
            z-index: 0; //因為一開始必須切和多邊形 這邊要補上才不會其他塊再背景點到
          }
        }
  
        .el__inner {
          transition-delay: $initDelayStep * $i;
        }
  
        .el__bg {
          transform: translate3d($elW * $i * -1, 0, 0);
  
          &:before {
            transition-delay: 0.1s * $i;
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-#{$i + 3}.jpg');
          }
        }
      }
    }
  
    &:hover {
  
      .el__bg:after {
        opacity: 0;
      }
    }
  
    &.first.s--active,&.sec.s--active,&.third.s--active {
      @include myaction {
        .el__bg:before {
          background-image: url(../../dest/images/homepage/BG.png);
        }
      }
    }
  
     
  
    // &.s--active {
    //   // 這邊不include的因是上面就是el了
    //   z-index: 1;
    //   width: 100%;
    //   transform: translate3d(0, 0, 0);
    //   transition: transform $moveAT, width $expandAT $moveAT + $expandDelay, z-index 0s, clip-path $moveAT;
  
  
  
    //   .el__bg {
    //     transform: translate3d(0, 0, 0);
    //     transition: transform $moveAT;
  
    //     &:before {
    //       transition-delay: $moveAT;
    //       transform: scale(1.1);
    //     }
    //   }
    // }
  }
  
  .el.first {
    background-color: #fff;
    z-index: 11;
    clip-path: polygon(0 0, 78% 0, 53% 100%, 0% 100%);
    width: 40%;
  
  }
  
  .el.sec {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    width: 50%;
    z-index: 10;
    // margin-left: -45%;
    transform: translateX(50%);
  }
  
  .el.third {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 40% 100%);
    width: 35%;
    margin-left: -8.5%;
    z-index: 11;
  }
}