@import "./main";

body {
// font-family: $notoSansTC;
background: $white;
font-size:$fzContent;
line-height: 1.8;
font-weight: 400;
color: lighten($black,60%);
margin: 0;
&.menu-show {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}
}

a {
transition: .3s all ease;
color: $yellow;
&:hover, &:focus {
  text-decoration: none;
  color: $yellow;
  outline: none !important;
}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
line-height: 1.5;
color: $black;
font-weight: 400;
}

.text-primary {
color: $yellow !important;

}
@mixin border-radius($radius) {
   border-radius: $radius;
}

@mixin transition($transition) {
  transition: all $transition ease;
}

section {
text-align: center;
// border: 1px solid red;
font-size: 0;
margin: 0;

.eff{
  height:935px;
  width: 100%;
  max-width: 100%;
  background-image: url(https://image.freepik.com/free-photo/steam-from-man-taking-tasty-rice-with-spoon-from-cooker-kitchen-jasmine-rice-cooking-electric-rice-cooker-with-steam-selective-focus_39810-124.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
   .homeLove-Fish{  //鱈魚
      transform: none;
      opacity: 1;
      position: absolute;
      top:150px;
      left:60%;
      width: 133px;
      height: 135px;
      background-image: url(../images/love-Fish.png);
      z-index: 99999;
      animation-duration:3s;  //執行動畫長度
      animation-fill-mode: both;
      animation-name: loveElement-Fish;
      animation-delay: 5s; //延遲2s
     .loveElement-Fish{
        animation: loveElement-Fish 3s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
      }
      @keyframes loveElement-Fish{
        0% {
          transform:  translate(-160px,0px);
          opacity:0;
        }
        20% {
          opacity:1;
        }
        99% {
          opacity:1;
        }
        100% {
          transform: translate(200px,0px)  ;
          opacity:0;
        }
      }
    }
    .homeLove-Pg{ //排骨
      transform: none;
      opacity: 1;
      position: absolute;
      top:150px;
      left:70%;
      width: 133px;
      height: 135px;
      z-index: 99999;
      background-image: url(../images/love-Pg.png);
      animation-duration:3s; //執行動畫長度
      animation-fill-mode: both;
      animation-name:loveElement-Pg;
      animation-delay:0s;

      .loveElement-Pg{
        animation: loveElement-Pg 4s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
      }
      @keyframes loveElement-Pg{
        0% {
          transform:  translate(0px,220px);
          opacity:0;
        }
        20% {
          opacity:1;
        }
        99% {
          opacity:1;
        }
        100% {
          transform: translate(0px,-30px)  ;
          opacity:0;
        }
      }
    }
    .homeLove-Gt{  //雞腿
      transform: none;
      opacity: 1;
      position: absolute;
      top:90px;
      left:70%;
      width: 133px;
      height: 135px;
      z-index: 99999;
      background-image: url(../images/love-Gt.png);
      animation-duration:3s;  //執行動畫長度
      animation-fill-mode: both;
      animation-name: loveElement-Gt;
      animation-delay:10s;
      .loveElement-Gt{
        animation: loveElement-Gt 3s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
      }
      @keyframes loveElement-Gt{
        0% {
          transform:  translate(0,-100px);
          opacity:0;
        }
        20% {
          opacity:1;
        }
        99% {
          opacity:1;
        }
        100% {
          transform: translate(0px,60px)  ;
          opacity:0;
        }
      }
    }
    .homeShowSmoke{
      mix-blend-mode: screen;
      height: 1000px;
      width:500px;
      transform: translate(calc(80 / var(--height) * 100vmin), calc(-80 / var(--height) * 100vmin));
      position: relative;
      left: 100px;
      z-index: 99999;
      top: -400px;
      animation-delay:2s; //延遲
      animation-duration:4s;  //執行長度
    }
   .homeCoverflow{
      position: relative;
      text-align: center;
      bottom:100%;
      width:35%;
      max-width: 100%;
      height: auto;
      left:47%;
      animation-duration:4s;
      animation-name:animationFrames;
      a{
        display: block;
        position: absolute;
        top:0;
        left:0;
        opacity: 0;
        // filter: alpha(opacity=0);
        /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
        // animation: silder 8s linear infinite;
        animation: silder 8s infinite;
        img{
          max-width: 100%;
        }
        /*動畫關鍵影格*/
        @keyframes silder {
          4% {
            opacity: 1;
            filter: alpha(opacity=100);
            /* 0 - 1秒 淡入*/
          }
          24% {
              opacity: 1;
              filter: alpha(opacity=100);
              /* 1- 5秒靜止*/
          }
          30% {
              opacity:0.9;
              filter: alpha(opacity=100);
              /* 5-6秒淡出*/
          }
        }
        /*每個圖片各延遲5秒*/
        &:nth-child(3){animation-delay: 10s;}
        &:nth-child(2) {animation-delay: 5s;}
        &:nth-child(1) {animation-delay: 0s;}
      }
     
   }
    /*滑入時停止播放 圖片、菜名標籤*/
   .homeCoverflow:hover a,
   .homeCoverflow:hover .homeLove-Fish,
   .homeCoverflow:hover .homeLove-Gt,
   .homeCoverflow:hover .homeLove-Gt{
    animation-play-state: paused;
    cursor: pointer;
  }
    .element-animation{
      animation: animationFrames linear 1s;
      animation-iteration-count: 1;
      transform-origin: 50% 50%;
    }
    @keyframes animationFrames{
      0% {
        transform:  translate(400px,0px) ;
        opacity: 1;
      }
      100% {
        transform:  translate(0px,0px) ;
        opacity:0 ;
      }
    }
}   
.homeTextBox{
  z-index: 1;
  position: absolute;
  top: 30%;
  left:14%;
  text-align: left;
  transform: translateY(-50%);
  right: 0;
  max-width:32%;
  // border: 1px solid red;
  animation-duration:3s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  h2{
    font-size:$fzBig;
    color: $white;
    /* line-height: 1.2; */
    font-weight: 900;
    /* margin-bottom: 3rem; */
    text-align: left;
    margin: 0 0 2.54rem 0;
    // border: 1px solid $white;
  }

  .homeRow{
    display: flex;
    flex-wrap: wrap;
    .homeCol{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      .homeSelectBox{
        text-align: center !important;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        .tab {
          display: none;
        }
        .tab:checked + label {
          cursor: default;
          background: $yellow;
          transition: all 0.3s ease;
          border: 1px solid transparent;
          padding: 10px 30px !important;
          font-size:$fzMd;
          font-weight: 400;
          position: relative;
          display: inline-block;
          border-radius: 5px;
          margin-right: 0.25rem !important;
        }
        .tab + label {
          cursor: pointer;
          display: block;
          text-decoration: none;
          text-align: center;
          transition: 0.3s background-color ease;
          padding: 15px;
          margin-right: 0.25rem;
          &:hover{
            color:$grey;
            transition: all 0.3s ease;
            border: 1px solid transparent;
            background:$white;
            background:$yellow;
          }
        }
        .tab-content {
          padding: 10px;
          background-color: transparent;
          position: absolute;
          width: 100%;
          z-index: -1;
          opacity: 0;
          left: 0;
          transform: translateY(-3px);
        }
        .tab:checked:nth-of-type(1) ~ .tab-content:nth-of-type(1),
        .tab:checked:nth-of-type(2) ~ .tab-content:nth-of-type(2) {
          opacity: 1;
          transition: 0.5s opacity ease-in, 0.8s transform ease;
          position: relative;
          top: 0;
          z-index: 1;
          transform: translateY(0px);
          border-radius: 7px;
          margin-top: -9px;
          background:$yellow;
          padding: 1.5rem !important;
          font-size:$fzContent;
          line-height: 1.8;
          font-weight: 400;
          color: $greyGrey;
          height: 52px;
        }
        .homeDelivery,.homeTakeaway{
          padding: 10px 30px !important;
          border-radius: 0;
          margin-bottom: 0;
          color: $black;
          font-size:$fzMd;
          font-weight: 400;
          position: relative;
          display: inline-block;
          border: 1px solid transparent;
          background:$white;
          border-radius: 5px; 
          text-decoration: none;
          &:hover{
            color:$black;
            color:$white;
            transition: all 0.3s ease;
            border: 1px solid transparent;
            background: white;
            background: #FFD23F;
            outline: none !important;
            text-decoration: none;
            }
        }
        .active{
          color: $black;
          transition: all 0.3s ease;
          border: 1px solid transparent;
          background:$yellow;
          outline: none !important;
          text-decoration: none;
        }
        div{
          .homeTab-pane{
            display: none;
            i{
              font-size:$fzContent;
              position: relative;
            }
            .datepickerDemo {
              padding: 40px;
            }
            .datepickerDemo md-content {
              padding-bottom: 200px;
            }
            
            .datepickerDemo .validation-messages {
              font-size:$fzXmall;
              color:$darkred;
              margin: 10px 0 0 25px;
            }
          }
          .fade {
            transition: opacity 0.15s linear;
          }
          @media (prefers-reduced-motion: reduce) {
            .fade {
              transition: none;
            }
          }
          .homeTab-content > .active {
            display: block;
          }
        }
      }
    }

  }
}
}
.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}
@keyframes fadeInUp {
from {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-100%,0,0);
}
to {
  visibility: visible;
  opacity: 1;
  transform: none;
}
}
//向下導引button
.nextl,.nextr{
  position: absolute;
  
}

.next:hover .nextl, .next:hover .nextr{
  animation:Downanimate 1.8s infinite;
}


@keyframes Downanimate{
  0%{
   
    transform: translateY(-125%);
  }
  50%{
    /* transform: translateX(50%); */
  }
  75%{
    transform: translateY(100%);
    /* opacity: 0.6; */
  }
  100%{
    
    opacity: 0;
  }
}
 /* next的HOVER效果 */
$dotSize: 4px;
$mouseWidth: 18px;
$mouseHeight: $mouseWidth * 2;
$animationDuration: 1.5s;

.homeMouse {
  // box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 2px $white;
  border-radius: 100px;
  position: relative;
  height: $mouseHeight;
  width:$mouseWidth;
  margin: 0 auto;
  top: -120px;
  cursor: pointer;
  &:before,
  &:after {
    animation: homeMouse-wheel $animationDuration ease-in-out infinite;
    background: $lightGrey;
    border-radius: 100px;
    content: '';
    height: $dotSize;
    width: $dotSize;
    opacity: 0;
    position: absolute;
    left: $mouseWidth / 2 - $dotSize / 2;
    top: $mouseHeight / 2 - $dotSize / 2;
  }
  &:after {
    animation-delay: $animationDuration / 2;
  }
  @keyframes homeMouse-wheel {
    0% {
      transform: translateY(-$mouseHeight / 2 + ($mouseWidth / 2 - $dotSize / 2));
    } 
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      transform: translateY($mouseHeight / 2 - ($mouseWidth / 2 - $dotSize / 2));
    }
  }
}