@import "./main";

#memApp{
    @include flexStyle(center,center,column);
    width: 1200px;
    @include border(1px,red);
    margin: 20px auto;
    padding: 15px;
    .memHeader{
        width: 95%;
        @include flexStyle(flex-start,flex-start);
        .memHeaderId{
            @include fontStyle($grey);

        }
        .memHeaderBtn{
            @include btnChoose(120px,50px);
            margin: 0 15px;
            @include fontStyle($black);
        }
    }
}