@import "./main"; 
h1{
	font-size:$fzSubtitle;
}
h2{
	font-size:$fzSubtitle;
}
p{
	font-size:$fzContent;
}

//colors
$white: white;

.ordercart{
	position: fixed;
	right: 0;
	top: 0;
	width: auto;
	height: auto;
	border: 1px solid blue;
}


#ordertitle1{
	transform:scale(1.5);
}
#ordertitletext1{
	color: $orange;
}

.orderRoof{
	background-image: url(../images/order/roof.png);
	width: 100%;
	height: 175px;
}
.orderLeft{
	position: fixed;
	top:50%;
	left:50px;
	margin-top: -200px;
	text-align: center;
	P{
		margin: 0;
		line-height: 52px;
	}
	.orderCirle{
			margin-top: 20px;
			width: 50px;
			height: 50px;
			border: 1px solid black;
			border-radius: 50%;
			cursor: pointer;

		}	

	}

#running {
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.buy_main {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.buy_single {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	display: flex;
}
.buy_single_main {
	text-align: center;
}
.buy_single_containter {
	
	margin: 0 auto;
	width: 1200px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: scroll;
	overflow-x: hidden;
	justify-content: space-between;
	
}
.buy_setdo_containter {
	width: 1050px;
	margin: 0 auto;
	height: 350px;
	display: flex;
	justify-content: space-between;
}
.buy_other_container {
	width: 1050px;
	margin: 0 auto;
	height: 350px;
	display: flex;
	justify-content: space-between;
}
.single_card {
	// display: none;
	width: 250px;
	height: 308px;
	margin: 10px 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
	 img{
		 margin-top: 5px;
		 cursor: pointer;
	 }
	 p{
		 margin: 0;
		 color: $grey;
	 }
}
.meat_card{
	// display: none;
	width: 250px;
	height: 308px;
	margin: 10px 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
	 img{
		 margin-top: 5px;
		 cursor: pointer;
	 }
	 p{
		 margin: 0;
		 color: $grey;
	 }
}
.ricecard{
	
	width: 250px;
	height: 308px;
	margin: 10px 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
	 img{
		 margin-top: 5px;
		 cursor: pointer;
	 }
	 p{
		 margin: 0;
		 color: $grey;
	 }
}

#buy_card3{
	width: 250px;
	height: 308px;
	margin: 10px 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
	 img{
		 margin-top: 5px;
		 cursor: pointer;
	 }
	 p{
		 margin: 0;
		 color: $grey;
	 }
}
#buy_card4 {
	width: 250px;
	height: 308px;
	margin: 10px 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
	 img{
		 margin-top: 5px;
		 cursor: pointer;
	 }
	 p{
		 margin: 0;
		 color: $grey;
	 }
}

#rice{
	margin: 0 auto;
	width: 1200px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: auto;
	overflow-x: hidden;
	justify-content: space-between;
}



.buy_icon_card {
	width: 250px;
	height: 80px; 
	margin: 10px 20px;
	text-align: center;
	
}
.buy_icon_containter {
	width: 600px;
	margin: 0 auto 80px auto;
	display: flex;
	justify-content: space-between;
}
.buy_bando {
	width: 1000px;
	margin: 0 auto;
	display: flex;
}
.buy_bandoLeft {
	width: 400px;
	margin: 0 auto;
    text-align: center;
        button{
            @include btn(auto,auto);
            font-family: 'Noto Sans TC';
        }
}
.buy_other_juice {
	width: 250px;
	height: auto;
	margin: 10px 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
	 img{
		 margin-top: 10px;
	 } 
}
.buy_single_lightbox { 
	@include lightBox($width:800px);
	display: none;
	cursor: pointer;
    position: fixed;
	// width: 300px;
	// height: 300px;
	background-color: $white;
	// position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -150px;
}

.count{
	  position: relative; 
	  margin-bottom: 10px;
    img{
        position: absolute;
        right: 50px;
        top:0px;
    }
    button{
        border: none;
        margin: 5px;
        background-color: $yellow;
        border-radius: 5px;
        &:hover,
        &:focus{
            transform: scale(1.1);
            opacity: .9;
        }
        width: 25px;
        height: 25px;
        cursor: pointer;
        
        
    }
}


.scroll::-webkit-scrollbar { 
	width: 5px;
}
.scroll::-webkit-scrollbar-track {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
}