@import "./main";

@mixin transition($transition) {
  transition: all;
  transition-timing-function: ease;
}

body {
  $notoSans: "Noto Sans", sans-serif;
  $notoSansTC: "Noto Sans TC", sans-serif;
  background-color: #f9e8d4;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline: none;
}

p.showTitle {
  @include fontStyle(
    rgb(243, 243, 243),
    $size: 48px,
    $weight: bold,
    $wrap: 10px
  );
  padding: 20px 0 0;
  color: $black;
  text-align: left;
  margin-left: 150px;
}

p.showTitle1 {
  padding: 5px 0 0;
  color: $black;
  text-align: left;
  margin-left: 170px;
  font-size: 30px;
}

div.showBlock {
  @include border(20px, rgb(214, 191, 127), $rpx: 5px);
  width: 100%;
  height: 130px;
  margin: 20px auto 0;
  background-image: url("../images/showbenton/bulletinV1.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: transparent;
  background-color: #f9e8d4;
}

div.addBenton {
  @include border(1px, transparent, $rpx: 2px);
  background-color: $orange;
  width: 70px;
  padding: 10px 5px;
  margin-top: auto;
  position: fixed;
  top: 230px;

  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
    cursor: pointer;
  }

  img {
    height: 50px;
    width: 50px;
    opacity: 0.7;
    display: block;
    margin: auto;
  }
}

//放圖片便當的區域
div.showBentonImg {
  border: 1px solid transparent;
  margin: 0 auto 45px;
  width: 70%;
  z-index: 9999;
}

div.kitchenTool {
  background-image: url("../images/showbenton/KitchenTool.png");
  background-size: cover;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  border: 1px solid transparent;
}

.shareBentonImg {
  width: 240px;
  height: 200px;
  margin: 30px auto 15px;
  display: block;
  text-align: center;
}

//便利貼圖片
[id^="bentonimg"] {
  width: 250px;
  height: 200px;
  margin-top: 55px;
  cursor: pointer;
}

//便利貼的標題
p.shareBentonText {
  word-break: break-word;
  font-size: 24px;
}
//便利貼的內文
p.shareBentonContent {
  font-size: 16px;
  word-break: break-word;
  margin-top: 5px;
}

.shareBenton:first-child {
  position: relative;
}
.shareBenton:first-child .ranking::before {
  content: "";
  position: absolute;
  background-image: url("../images/showbenton/no1new.png");
  background-repeat: no-repeat;
  background-size: 90%;
  width: 100px;
  height: 110px;
  left: 170px;
  top: -60px;
  transform: rotate(10deg);
}

div.WallSharebentonImg::before {
  content: "";
  position: absolute;
  background-image: url("../images/showbenton/nail.png");
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100px;
  height: 100px;
  top: -20px;
  left: 10px;
}

//便利貼的讚圖

.like {
  z-index: 99;
  display: inline-block;
  width: 30px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }
}

.like1 {
  z-index: 100;
  display: inline-block;
  width: 30px;
  height: 30px;
  &:hover {
    cursor: pointer;
  }
}

//便利貼的對話框圖
.conversation {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
}

//便利貼按讚數
span.liketimes {
  display: inline-block;
  color: rgb(230, 62, 33);
  font-size: 16px;
  margin-right: 10px;
}

//第四名之後
[class^="mainBenton"] {
  background-color: #fdfbfd;
}

//便利貼的個體
.shareBenton:first-child,
.mainBenton0,
.shareBenton:nth-child(2),
.mainBenton1,
.shareBenton:nth-child(3),
.mainBenton2 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #f6f6f6;
}

.shareBenton:nth-child(2)::before,
.mainBenton1::before,
.shareBenton:nth-child(3)::before,
.mainBenton2::before,
.shareBenton:first-child::before,
.mainBenton0::before {
  font-size: 27px;
  position: absolute;
  left: 50px;
  top: 25px;
  color: $black;
  font-weight: bold;
  border-radius: 20%;
  padding: 3px;
}

.shareBenton:first-child::before,
.mainBenton0::before {
  content: " No.1 天下第一菜";
}

.shareBenton:nth-child(2)::before,
.mainBenton1::before {
  content: "No.2 新一代食神";
}

.shareBenton:nth-child(3)::before,
.mainBenton2::before {
  content: "No.3 明日小當家";
}

p.showMyself {
  @include fontStyle(rgb(56, 56, 56), $size: 2.5rem, $weight: 800, $wrap: 10px);
  text-align: right;
  letter-spacing: 8px;
  margin: 100px 150px 0 0;
  padding: 10px;
  color: rgb(103, 126, 202);
}

// .grid {
//   background-image: url("../images/showbenton/bulletin1.png");
//   color: blue;
// }

//------------ligthbox----------
//便當內容的燈箱

.showBentonContentbox {
  @include lightBox($width: 800px);
  background-color: rgb(243, 243, 243);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
}

//便當發文者大區塊
.shareBlock {
  border-right: 1px dashed rgb(114, 114, 114);
  display: inline-block;
  padding-right: 25px;
  margin: 0 10px 0;
  vertical-align: middle;
  text-align: center;

  //便當圖片
  .showBentonContentImg {
    border-radius: 5px;
    display: block;
    margin: 40px auto 0;
    width: 325px;
    height: 250px;
  }
  //我也要買按鈕
  .buyMore {
    @include btn(120px, 50px, $fz: 16px);
    cursor: pointer;
    outline: none;
    margin: 5px auto;
    line-height: 20px;
    background-color: rgb(4, 124, 10);
  }
  //作者發文區塊
  .memTextBlock {
    border: 1px dashed gray;
    background-color: #e9e9e9;
    width: 320px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
    //便當內容的標題
    #ContentTitlText {
      text-align: left;
      font-size: $fzMd;
      font-weight: bold;
      color: rgb(98, 72, 9);
      margin-bottom: 5px;
    }
  }
}

//便當內容會員留言送出
#showSend {
  @include btn(80px, 40px, $fz: 18px);
  cursor: pointer;
  line-height: 20px;
  margin: 1px 0 5px;
  margin-left: auto;
  outline: none;
}

//-------------共用樣式-------------
//會員時間
.talkDateTime {
  text-align: right;
  font-size: $fzSmall;
  font-weight: 300;
  margin-top: 5px;
}
//會員圖片
.memPicture {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 100%;
  vertical-align: middle;
}

//會員留言人名
.member {
  text-align: left;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

//----------------------------------

//會員留言大區塊
.messageBoard {
  display: inline-block;
  border: 1px solid transparent;
  margin: 0 10px;
  vertical-align: middle;
  text-align: left;
  .talksBlock {
    width: 340px;
    height: 280px;
    overflow: auto;
    border: 1px inset transparent;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
  }
  .mesTalks {
    padding: 15px 0 0;
    color: rgb(109, 48, 7);
    font-size: 20px;
    text-align: center;
  }

  //便當內容的會員留言區塊
  div.showmsg {
    border: 1px dashed gray;
    background-color: rgb(245, 245, 244);
    width: 300px;
    margin: 10px auto;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;

    //會員檢舉按鈕
    .report {
      display: inline-block;
      margin-left: 170px;
      font-size: 14px;
      font-weight: 300;
      border-radius: 5px;
      background-color: rgb(206, 206, 206);
      padding: 2px 5px;
      cursor: pointer;
    }
    .report:hover {
      background-color: rgba(128, 128, 128, 0.212);
    }

    //會員留言出現的文字
    .talkmessage {
      vertical-align: middle;
      font-weight: 400;
      text-align: left;
      font-size: 14px;
      letter-spacing: 1px;
      padding-top: 2px;
      word-break: break-all;
    }

    //便當內容留言的會員留言時間
  }
}
//新增便當的遮罩
.showbentonCover {
  @include coverBlack();
  left: 0;
  top: 0;
  display: none;
}

//新增便當的box
.showBentonListLightbox {
  @include lightBox($width: 800px);
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

ul.bentoncardBox {
  border: 1px inset rgb(211, 210, 210);
  list-style: none;
  display: inline-block;
  overflow: auto;
  height: 400px;
}

.bentoncarTitle {
  border-radius: 5px;
  padding: 5px;
  text-align: center;

  position: relative;
  width: 300px;
  margin: 10px auto;
  span {
    font-size: 28px;
    font-weight: 600;
    color: rgb(7, 90, 7);
  }
  img {
    width: 30px;
    height: 30px;
    right: -230px;
    position: absolute;
    cursor: pointer;
  }
}

li.bentonCard {
  display: inline-block;
  border: 4px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 15px;
  img {
    cursor: pointer;
    vertical-align: bottom;
    width: 220px;
    height: 190px;
  }
}

//--------------Step1-------------
div.confirmBentonBox1 {
  width: 80px;
  margin-left: auto;
  margin-right: 40px;
}

button.Send {
  @include btn(120px, 60px, $fz: 18px);
  line-height: 50px;
  margin-left: auto;
  outline-style: none;
}

button.Next {
  @include btnChoose(90px, 60px, $fz: 18px);
  line-height: 50px;
  cursor: pointer;
  margin: 15px -10px 20px;
  border: transparent;
  outline-style: none;
}
//--------------Step2-------------
div.confirmBentonBox2 {
  width: 100%;
  margin: 10px auto 10px;
}

div.bentonContentForm {
  width: 70%;
  margin: 30px auto 0;
}

label.Step2Title,
label.Step2Content {
  vertical-align: top;
  font-size: 25px;
}

#Step2TitlText {
  font-size: 18px;
  width: 100%;
  margin-top: 5px;
  color: #624809;
  padding: 5px;
}

.Step2TitlStyle {
  font-size: 16px;
  color: $black !important;
}

.Step2Space {
  margin: 30px 0px;
}

#Step2ContentText {
  font-size: 18px;
  resize: none;
  margin: 5px 0 10px 0;
  width: 100%;
  border-radius: 5px;
}

button.Pre {
  @include btnChoose(90px, 60px, $fz: 18px);
  width: 90px;
  height: 60px;
  line-height: 50px;
  cursor: pointer;
  margin: 0 130px 0 0px;
  border: transparent;
  outline-style: none;
}

.closebox {
  position: absolute;
  right: 15px;
  top: 15px;
  &:hover {
    cursor: pointer;
  }
}
//-------------便當牆-------------
.shareBenton {
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  margin: 60px 30px 100px 80px;
  box-shadow: 0px 2px 4px rgb(114, 114, 114);
  width: 260px;
  vertical-align: top;
  display: inline-block;
  background-color: #fdfbfd;
  transform: rotate(5deg);
  padding: 15px 10px;
  transition: transform 0.8s;
  &:hover {
    transform: rotate(0deg);
  }
}

//---------------便當前三名背景---------------
.group0 {
  transform: rotate(5deg);
}

.group1 {
  transform: rotate(5deg);
}

.group2 {
  transform: rotate(5deg);
}

//---------------------RWD

@media screen and (max-width: 576px) {
  div.kitchenTool {
    background-image: url("../images/showbenton/kitchenTool_576\(1\).psd.png");
    position: fixed;
    bottom: 0;
    left: 0;
    background-position: left;
    background-size: cover;
  }

  div.addBenton {
    transition: width 0.8s, height 0.8s;
    width: 45px;
    height: 40px;
    img {
      transition: width 0.8s, height 0.8s;
      width: 40px;
      height: 40px;
    }
  }

  div.showBentonImg {
    margin: 0px auto;
    box-sizing: border-box;
    margin-bottom: 0px;
  }

  ul.bentoncardBox {
    border: 1px inset rgb(211, 210, 210);
    list-style: none;
    display: inline-block;
    overflow: auto;
    height: 400px;
    li.bentonCard {
      margin: 8px;
      img {
        width: 160px;
        height: 130px;
      }
    }
  }

  .showBentonListLightbox {
    width: 400px;
    box-sizing: border-box;
  }

  div.showBlock {
    background-image: url("../images/showbenton/bulletinV1_576\(1\).png");
    background-size: 100%;
    .showTitle {
      @include fontStyle(rgb(243, 243, 243), $size: 38px, $weight: bold);
      margin-left: 10px;
      color: $black;
      font-size: 36px;
    }
    .showTitle1 {
      font-size: 20px;
      width: 100%;
      border: 1px solid transparent;
      width: 150px;
      margin-left: 30px;
    }
  }

  button.Send {
    margin: 0;
  }

  button.Pre {
    margin: 0px;
    margin: 0 40px 0 10px;
  }

  div.shareBenton {
    margin-left: 40px;
    margin-bottom: 20px;
    .liketimes {
      right: 28px;
    }

    .conversation {
      margin-right: 20px;
    }

    #Step2TitlText {
      width: 100%;
      word-break: break-all;
      margin: 20px 0;
    }
    .like {
      right: 45px;
      &:hover {
        filter: brightness(100%);
      }
    }
  }

  //便當內文
  .showBentonContentbox {
    width: 375px;
    height: 500px;
    overflow: auto;
    padding: 10px;
    .shareBenton:first-child::before,
    .mainBenton0::before,
    .shareBenton:nth-child(2)::before,
    .mainBenton1::before,
    .shareBenton:nth-child(3)::before,
    .mainBenton2::before {
      left: 30px;
    }
  }

  .shareBlock {
    padding-right: 25px;
    margin: 0 auto;
    border: transparent;
    padding: 0;
    .showBentonContentImg {
      width: 320px;
      height: 260px;
    }
  }

  .messageBoard {
    display: block;
    text-align: center;
    margin: 0 auto;
    .talksBlock {
      margin: 0 auto;
      div.showmsg {
        width: 290px;
      }
      .showmsg .report {
        margin-left: 150px;
      }
    }
  }
}

@media screen and (max-width: 414px) and (min-width: 375px) {
  .shareBenton:first-child,
  .mainBenton0,
  .shareBenton:nth-child(2),
  .mainBenton1,
  .shareBenton:nth-child(3),
  .mainBenton2,
  .shareBenton {
    margin: 20px 20px 40px;
  }

  .shareBenton {
    width: 220px;
  }

  [id^="bentonimg"] {
    width: 220px;
    height: 180px;
    margin-top: 55px;
    cursor: pointer;
  }
}
