@import "./main";

@mixin transition($transition) {
  transition: all;
  transition-timing-function: ease;
}

body {
  background-color: #f9e8d4;
}

input:focus,
textarea:focus {
  outline: none;
}

p.showTitle {
  @include fontStyle(
    rgb(243, 243, 243),
    $size: 48px,
    $weight: bold,
    $wrap: 10px
  );
  padding: 20px 0 0;
  color: $black;
  text-align: left;
  margin-left: 150px;
}

p.showTitle1 {
  padding: 5px 0 0;
  color: $black;
  text-align: left;
  margin-left: 170px;
  font-size: 30px;
}

div.showBlock {
  @include border(20px, rgb(214, 191, 127), $rpx: 5px);
  width: 100%;
  height: 140px;
  margin: 20px auto 0;
  background-image: url("../images/showbenton/bulletinV1.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: transparent;
  background-color: #f9e8d4;
}

//新增便當動畫
@keyframes card-float {
  0% {
    top: 30%;
  }
  25% {
    top: 31%;
  }
  50% {
    top: 32%;
  }
  75% {
    top: 31%;
  }
  100% {
    top: 30%;
  }
}

div.addBenton {
  @include border(1px, transparent, $rpx: 2px);
  animation-name: card-float;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: transparent;
  width: 70px;
  padding: 10px 5px;
  margin-top: auto;
  position: fixed;
  top: 230px;
  z-index: 99;
  &:hover {
    width: 108px;
    height: 130px;
    transform: scale(1.1);
    cursor: pointer;
  }
}
.addBentonImg2 {
  background-image: url("../images/showbenton/addBenton2.png");
  width: 108px;
  height: 130px;
  position: absolute;
}

//放圖片便當的區域
div.showBentonImg {
  border: 1px solid transparent;
  margin: 0 auto;
  width: 1200px;
  z-index: 9999;
}

div.kitchenTool {
  background-image: url("../images/showbenton/KitchenTool_V1.png");
  background-size: cover;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 320px;
  background-position: left 20px;
  background-repeat: no-repeat;
  border: 1px solid transparent;
}

.shareBentonImg {
  width: 240px;
  height: 200px;
  margin: 30px auto 15px;
  display: block;
  text-align: center;
}

//便利貼圖片
[id^="bentonimg"] {
  border: 1px solid transparent;
  width: 250px;
  height: 200px;
  margin-top: 55px;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    border: 1px solid gray;

    border-radius: 50%;
  }
}

//便利貼的標題
p.shareBentonText {
  word-break: break-word;
  font-size: 24px;
}
//便利貼的內文
p.shareBentonContent {
  font-size: 16px;
  word-break: break-word;
  margin-top: 5px;
}

#bentonDiv0 .ranking::before {
  content: "";
  position: absolute;
  background-image: url(../images/showbenton/chef_no1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 70px;
  height: 70px;
  left: 0px;
  top: 57px;
  transform: rotate(5deg);
}

.ranking::after {
  content: "";
  position: absolute;
  background-image: url("../images/showbenton/stickynotes.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100px;
  height: 35px;
  left: 100px;
  top: -25px;
  transform: rotate(10deg);
  opacity: 0.8;
}

div.WallSharebentonImg::before {
  content: "";
  position: absolute;
  background-image: url("../images/showbenton/Iron_ring.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 25px;
  height: 25px;
  top: 10px;
  left: 10px;
}

//便利貼的讚圖

.like {
  z-index: 99;
  display: inline-block;
  width: 30px;
  height: 30px;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.like1 {
  z-index: 100;
  display: inline-block;
  width: 30px;
  height: 30px;
  &:hover {
    cursor: pointer;
  }
}

//便利貼的對話框圖
.conversation {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

//便利貼按讚數
span.liketimes {
  display: inline-block;
  color: rgb(230, 62, 33);
  font-size: 16px;
  margin-right: 10px;
}

//第四名之後
[class^="mainBenton"] {
  background-color: #fdfbfd;
  text-align: center;
}

.shareBenton:first-child {
  position: relative;
}
//便利貼的個體
.shareBenton:first-child,
.mainBenton0,
.shareBenton:nth-child(2),
.mainBenton1,
.shareBenton:nth-child(3),
.mainBenton2 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  background-color: #f6f6f6;
}

.shareBenton:nth-child(2)::before,
.mainBenton1::before,
.shareBenton:nth-child(3)::before,
.mainBenton2::before,
.shareBenton:first-child::before,
.mainBenton0::before {
  font-size: 27px;
  position: absolute;
  left: 50px;
  top: 25px;
  color: $black;
  font-weight: bold;
  border-radius: 20%;
  padding: 3px;
}

#bentonDiv0::before,
.mainBenton0::before {
  content: " No.1 天下第一菜";
}

#bentonDiv1::before,
.mainBenton1::before {
  content: "No.2 新一代食神";
}

#bentonDiv2::before,
.mainBenton2::before {
  content: "No.3 明日小當家";
}

p.showMyself {
  @include fontStyle(rgb(56, 56, 56), $size: 2.5rem, $weight: 800, $wrap: 10px);
  text-align: right;
  letter-spacing: 8px;
  margin: 100px 150px 0 0;
  padding: 10px;
  color: rgb(103, 126, 202);
}

// .grid {
//   background-image: url("../images/showbenton/bulletin1.png");
//   color: blue;
// }

//------------ligthbox----------
//便當內容的燈箱

.showBentonContentbox {
  background-color: whitesmoke;
  @include lightBox($width: 800px);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
}

//便當發文者大區塊
.shareBlock {
  border-right: 1px dashed rgb(114, 114, 114);
  display: inline-block;
  padding-right: 15px;
  margin: 0;
  vertical-align: middle;
  text-align: center;

  //便當圖片
  .showBentonContentImg {
    border-radius: 5px;
    display: block;
    margin: 40px auto 0;
    width: 325px;
    height: 250px;
  }
  //我也要買按鈕
  .buyMore {
    @include btn(120px, 50px, $fz: 16px);
    cursor: pointer;
    outline: none;
    margin: 5px auto;
    line-height: 20px;
    background-color: $orange;
  }
  //作者發文區塊
  .memTextBlock {
    border: 1px dashed gray;
    background-color: #e9e9e9;
    width: 320px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
    //便當內容的標題
    #ContentTitlText {
      text-align: left;
      font-size: $fzMd;
      font-weight: bold;
      color: rgb(98, 72, 9);
      margin-bottom: 5px;
    }
    .contentText {
      word-break: break-all;
      font-size: 14px;
      text-align: left;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}

//便當內容會員留言送出
#showSend {
  @include btn(80px, 40px, $fz: 18px);
  cursor: pointer;
  line-height: 20px;
  // margin: 1px 15px 5px;
  margin-left: auto;
  outline: none;
}

//-------------共用樣式-------------
//會員時間
.talkDateTime {
  text-align: right;
  font-size: $fzSmall;
  font-weight: 300;
  margin-top: 5px;
}
//會員圖片
.memPicture {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 100%;
  vertical-align: middle;
}

//會員留言人名
.member {
  text-align: left;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  width: 180px;
}
//檢舉
.reportBox {
  @include lightBox($width: 300px);
  border: 1px solid rgb(236, 236, 236);
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  .reportContent {
    font-size: $fzMd;
    font-weight: bold;
    margin: 20px 20px 10px;
  }
  .reportChoose {
    width: 75%;
    margin: 0 auto 10px;
    [id^="rep"] {
      margin: 10px;
    }
  }
  .confirmRport {
    display: inline-block;
    padding: 0 20px 20px;
    &:hover {
      color: orangered;
      cursor: pointer;
    }
  }
  .cancel {
    display: inline-block;
    margin-left: 170px;
    &:hover {
      color: orangered;
      cursor: pointer;
    }
  }
}

//----------------------------------

//會員留言大區塊
.messageBoard {
  display: inline-block !important;
  border: 1px solid transparent;
  vertical-align: middle;
  text-align: left;
  margin: 0 10px !important;

  .talksBlock {
    width: 330px;
    height: 300px;
    overflow: auto;
    border: 1px inset transparent;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
  }
  .mesTalks {
    color: rgb(109, 48, 7);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }

  //便當內容的會員留言區塊
  div.showmsg {
    border: 1px dashed gray;
    background-color: rgb(245, 245, 244);
    width: 300px;
    margin: 10px;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;

    //會員檢舉按鈕
    .report {
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
      border-radius: 5px;
      background-color: rgb(206, 206, 206);
      padding: 2px 5px;
      cursor: pointer;
    }
    .report:hover {
      background-color: rgba(128, 128, 128, 0.212);
    }

    //會員留言出現的文字
    .talkmessage {
      vertical-align: middle;
      font-weight: 400;
      text-align: left;
      font-size: 14px;
      letter-spacing: 1px;
      padding-top: 2px;
      word-break: break-all;
    }
  }

  //我要留言KEY IN區塊
  .comment {
    border-radius: 5px;
    margin-top: 25px;
    resize: none;
    font-size: 16px;
    width: 320px;
    background-color: #f5f6e9;
  }
}
//新增便當的遮罩
.showbentonCover {
  @include coverBlack();
  left: 0;
  top: 0;
  display: none;
}

//新增便當的box
.showBentonListLightbox {
  @include lightBox($width: 800px);
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

ul.bentoncardBox {
  border: 1px inset #d3d2d2;
  list-style: none;
  overflow: auto;
  height: 400px;
  margin: 0 auto;
  width: 90%;
}

.noBentonChoose {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 48%;
  font-size: 22px;
  line-height: 35px;
}

.bentoncarTitle {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  position: relative;
  width: 80%;
  margin: 10px auto;
  span {
    font-size: 28px;
    font-weight: 600;
    color: rgb(7, 90, 7);
  }
  .closebox {
    border-radius: 10px;
    width: 25px;
    height: 25px;
    right: -65px;
    top: 5px;
    position: absolute;
    cursor: pointer;
  }
}

li.bentonCard {
  display: inline-block;
  border: 4px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 5px;

  img {
    cursor: pointer;
    vertical-align: bottom;
    width: 210px;
    height: 190px;
  }
}

//--------------Step1-------------
div.confirmBentonBox1 {
  width: 80px;
  margin-left: auto;
  margin-right: 40px;
}

button.Send {
  @include btn(120px, 60px, $fz: 18px);
  line-height: 50px;
  margin-left: auto;
  outline-style: none;
}

button.Next {
  @include btnChoose(90px, 60px, $fz: 18px);
  line-height: 50px;
  cursor: pointer;
  margin: 15px -10px 20px;
  border: transparent;
  outline-style: none;
}
//--------------Step2-------------
div.confirmBentonBox2 {
  width: 100%;
  margin: 10px auto 10px;
}

div.bentonContentForm {
  width: 70%;
  margin: 30px auto 0;
}

label.Step2Title,
label.Step2Content {
  vertical-align: top;
  font-size: 25px;
}

#Step2TitlText {
  font-size: 20px;
  width: 100%;
  margin-top: 5px;
  color: #995121;
  padding: 5px;
}

.Step2TitlStyle {
  font-size: 16px;
  color: $black !important;
}

.Step2Space {
  margin: 30px 0px;
}

#Step2ContentText {
  font-size: 18px;
  resize: none;
  margin: 5px 0px 10px 5px;
  width: 100%;
  border-radius: 5px;
}

button.Pre {
  @include btnChoose(90px, 60px, $fz: 18px);
  width: 90px;
  height: 60px;
  line-height: 50px;
  cursor: pointer;
  margin: 0 130px 0 0px;
  border: transparent;
  outline-style: none;
}

.closebox {
  position: absolute;
  right: 15px;
  top: 15px;
  &:hover {
    cursor: pointer;
  }
}
//-------------便當牆-------------
//營養好搭配　健康送到家
.bentonWallTitle {
  font-size: 34px;
  color: rgb(8, 85, 185);
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
//會員一天可按一次讚，並於24小時後即可再執行
.bentonWallNote {
  font-size: 18px;
  padding: 15px 0 30px;
  text-align: center;
  color: rgb(112, 109, 109);
}

.shareBenton {
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: 10px solid rgb(255, 255, 255);
  text-align: center;
  margin: 60px 20px 100px 60px;
  box-shadow: 0px 2px 4px rgb(114, 114, 114);
  width: 260px;
  vertical-align: top;
  display: inline-block;
  background-color: #f6f6f6;
  transform: rotate(5deg);
  padding: 15px 10px;
  transition: transform 0.8s;
  &:hover {
    transform: rotate(0deg);
    box-shadow: 4px 4px 8px rgb(93, 93, 93);
  }
}

//分頁
.bontonPagesBox {
  border: 1px solid transparent;
  @include flexStyle(center, center);
  margin: 0 auto;
  padding-bottom: 60px;
  width: 90%;
  .bontonContentPages {
    @include btn(40px, 30px, $fz: 20px);
    margin: 10px;
    background-color: $yellow;
    color: $black;
  }
}

//會員登入遮罩
.homeContainderBgc {
  z-index: 9999;
}

#myBtn {
  border: solid 1px rgb(100, 99, 99);
  height: 65px;
  width: 65px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  cursor: pointer;
  font-size: 18px;
  z-index: 100;
  outline: none;
  text-align: center;
  opacity: 0.9;
}

#myBtn:hover {
  background-color: rgb(8, 168, 75);
  border-color: whitesmoke;
  color: white;
}

//---------------------RWD

@media screen and (max-width: 576px) {
  div.kitchenTool {
    background-image: url("../images/showbenton/kitchenTool_576\(1\).psd.png");
    position: fixed;
    bottom: 0;
    left: 0;
    background-position: left 28px;
    background-size: cover;
  }

  div.addBenton {
    transition: width 0.8s, height 0.8s;
    width: 45px;
    height: 40px;
    margin-top: 155px;
  }

  //營養好搭配　健康送到家
  .bentonWallTitle {
    font-size: 30px;
  }

  .bentoncarTitle {
    .closebox {
      width: 30px;
      height: 30px;
      right: -25px;
      top: 5px;
      position: absolute;
      cursor: pointer;
    }
  }

  div.showBentonImg {
    margin: 0px auto;
    width: 60%;
    box-sizing: border-box;
    margin-bottom: 0px;
  }

  ul.bentoncardBox {
    border: 1px inset rgb(211, 210, 210);
    list-style: none;
    display: inline-block;
    overflow: auto;
    height: 400px;

    li.bentonCard {
      margin: 8px;
      img {
        width: 150px;
        height: 130px;
      }
    }
  }

  .showBentonListLightbox {
    width: 400px;
    box-sizing: border-box;
  }

  div.showBlock {
    background-image: url("../images/showbenton/bulletinV1_576\(1\).png");
    background-size: 100%;
    .showTitle {
      @include fontStyle(rgb(243, 243, 243), $size: 38px, $weight: bold);
      margin-left: 10px;
      color: $black;
      font-size: 36px;
    }
    .showTitle1 {
      font-size: 20px;
      width: 100%;
      border: 1px solid transparent;
      width: 150px;
      margin-left: 30px;
    }
  }

  button.Send {
    margin-right: 10px;
  }

  button.Pre {
    margin: 0px;
    margin: 0 40px 0 10px;
  }

  div.shareBenton {
    .liketimes {
      right: 28px;
    }

    .conversation {
      margin-right: 20px;
    }

    #Step2TitlText {
      width: 100%;
      word-break: break-all;
      margin: 20px 0;
    }
    .like {
      right: 45px;
      &:hover {
        filter: brightness(100%);
      }
    }
  }

  //便當內文
  .showBentonContentbox {
    width: 365px;
    height: 600px;
    overflow: auto;
    padding: 10px;
    .shareBenton:first-child::before,
    .mainBenton0::before,
    .shareBenton:nth-child(2)::before,
    .mainBenton1::before,
    .shareBenton:nth-child(3)::before,
    .mainBenton2::before {
      left: 30px;
      padding: 0;
    }
  }

  .shareBlock {
    margin: 0;
    border: transparent;
    padding: 0;
    .showBentonCont.messageBoard .commententImg {
      width: 320px;
      height: 260px;
    }
  }

  .messageBoard {
    display: block;
    text-align: center;
    margin: 0;

    .talksBlock {
      width: 330px;
      margin: 0 auto;

      div.showmsg {
        width: 285px;
      }
      .member {
        width: 200px;
      }
    }
    .comment {
      width: 320px;
    }
  }

  .reportBox {
    position: fixed;
    top: 100%;
  }
}

@media screen and (max-width: 414px) and (min-width: 375px) {
  .bentonWallNote {
    font-size: 15px;
  }
  .addBentonImg2 {
    background-size: 85%;
    background-repeat: no-repeat;
  }

  div.showBlock {
    .showTitle {
      font-size: 30px;
    }
    .showTitle1 {
      margin-left: 20px;
    }
  }

  #bentonDiv0::before {
    content: " No.1 天下第一菜";
    font-size: 24px;
  }
  #bentonDiv1::before {
    content: "No.2 新一代食神";
    font-size: 24px;
  }

  #bentonDiv2::before {
    content: "No.3 明日小當家";
    font-size: 24px;
  }

  div.shareBenton {
    width: 225px;
    margin-left: 30px;
    #Step2TitlText {
      margin: 10px 0;
    }
  }

  [id^="bentonimg"] {
    width: 220px;
    height: 180px;
    margin-top: 55px;
  }

  .shareBlock {
    .memTextBlock,
    .showBentonContentImg {
      width: 310px;
    }
  }
}

.messageBoard {
  display: block;
  text-align: center;
  margin: 0;

  .talksBlock {
    width: 320px;
    margin: 0 auto;

    div.showmsg {
      width: 275px;
    }
    .member {
      width: 170px;
    }
  }
}
.comment {
  width: 310px;
}
.ranking::after {
  left: 90px;
}

//header 效果
#homeTwoScreen .top_group .navgroup .showbento {
  color: $orange;
  font: 12px;
  &:before {
    content: "";
    overflow: hidden;
    position: absolute;
    transform: translate3d(0, 0, 0);
    // display: block;
    left: 1%;
    background-image: url("../../dest/images/header/faultc_01.png");
    width: 50px;
    height: 50px;
    transition: 0.5s;
    opacity: 1;
  }
}

@media screen and (max-width: 375px) {
  div.shareBenton {
    width: 200px;
  }

  #bentonDiv0::before,
  #bentonDiv1::before,
  #bentonDiv2::before {
    font-size: 20px;
  }

  [id^="bentonimg"] {
    width: 200px;
    height: 160px;
  }

  #Step2TitlText {
    font-size: 18px;
  }
  div.ranking {
    margin: 0 !important;
  }
  .ranking::after {
    left: 70px;
  }
}
