@import "./main";
body {
  background-color: #f9e8d4;
}

header {
  border: 1px solid blue;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: rgb(248, 249, 255);
}

footer {
  border: 1px solid blue;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgb(248, 249, 255);
}

p.showTitle {
  @include fontStyle(
    rgb(243, 243, 243),
    $size: 48px,
    $weight: bold,
    $wrap: 10px
  );
  padding: 20px 0 0;
  color: $black;
  text-align: left;
  margin-left: 150px;
}

p.showTitle1 {
  padding: 5px 0 0;
  color: $black;
  text-align: left;
  margin-left: 170px;
  font-size: 30px;
}

div.showBlock {
  @include border(20px, rgb(214, 191, 127), $rpx: 5px);
  width: 100%;
  height: 130px;
  margin: 20px auto 0;
  min-width: 1200px;
  background-image: url("../images/showbenton/bulletinV1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border: transparent;
  background-color: #f9e8d4;
}

div.addBenton {
  @include border(1px, transparent, $rpx: 2px);
  background-color: $orange;
  width: 70px;
  padding: 10px 5px;
  margin-top: auto;
  position: fixed;
  top: 230px;

  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
    cursor: pointer;
  }

  img {
    height: 50px;
    width: 50px;
    opacity: 0.7;
    display: block;
    margin: auto;
  }
}

//放圖片便當的區域
div.showBentonImg {
  border: 1px solid transparent;
  margin: 0 auto;
  width: 1200px;
  z-index: 9999;
}

div.kitchenTool {
  position: fixed;
  bottom: 0;
  right: 0;
  bottom: -30px;
  right: 0;
  z-index: -1;
}

.shareBentonImg {
  width: 240px;
  height: 200px;
  margin: 30px auto 15px;
  display: block;
  text-align: center;
}

//便利貼圖片
[id^="bentonimg"] {
  width: 220px;
  height: 180px;
  margin-top: 35px;
  border-radius: 15px;
  cursor: pointer;
}

//便利貼的標題
p.shareBentonText {
  word-break: break-word;
  font-size: 24px;
}
//便利貼的內文
p.shareBentonContent {
  font-size: 16px;
  word-break: break-word;
  margin-top: 5px;
}

//便利貼的讚圖
.like {
  z-index: 99;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  &:hover {
    cursor: pointer;
    background: url("../images/showbenton/like1.png");
  }
}

//便利貼的對話框圖
.conversation {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 15px 0px 150px;
  &:hover {
    cursor: pointer;
  }
}

//便利貼按讚數
span.liketimes {
  display: inline-block;
  margin-bottom: 5px;
  color: rgb(230, 62, 33);
  vertical-align: bottom;
  font-size: 20px;
}

//便利貼的個體
.shareBenton:first-child,
.mainBenton0,
.shareBenton:nth-child(2),
.mainBenton1,
.shareBenton:nth-child(3),
.mainBenton2 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;

  box-shadow: 0px 2px 4px rgb(114, 114, 114);
  padding: 5px 10px;
}

.shareBenton:first-child,
.mainBenton0 {
  background-image: linear-gradient(to bottom right, #b4acfb, #f8d0ec, #fad8fb);
}

.shareBenton:nth-child(2),
.mainBenton1 {
  background-image: linear-gradient(to bottom right, #b1d7f6, #e0f0fd, #dfeffc);
}

.shareBenton:nth-child(3),
.mainBenton2 {
  background-image: linear-gradient(to bottom right, #fabc76, #ecce8b, #f0d2b0);
}

.shareBenton:first-child::before,
.mainBenton0::before {
  content: " 天下第一菜";
  font-size: 30px;
  position: relative;
  top: 20px;
  color: rgb(69, 7, 241);
  font-weight: bold;
  background-color: rgb(246, 246, 246);
  border-radius: 20%;
  padding: 3px;
}

.shareBenton:nth-child(2)::before,
.mainBenton1::before {
  content: "新一代食神";
  font-size: 30px;
  top: 10px;
  color: rgb(69, 7, 241);
  background-color: rgb(246, 246, 246);
  border-radius: 20%;
  padding: 3px;
}

.shareBenton:nth-child(3)::before,
.mainBenton2::before {
  content: "明日小當家";
  font-size: 30px;

  top: 10px;
  color: rgb(69, 7, 241);
  background-color: rgb(246, 246, 246);
  border-radius: 20%;
  padding: 3px;
}

p.showMyself {
  @include fontStyle(rgb(56, 56, 56), $size: 2.5rem, $weight: 800, $wrap: 10px);
  text-align: right;
  letter-spacing: 8px;
  margin: 100px 150px 0 0;
  padding: 10px;
  color: rgb(103, 126, 202);
}

.grid {
  background-image: url("../images/showbenton/bulletin1.png");
  color: blue;
}

//------------ligthbox----------
//便當內容的燈箱
.showBentonContentbox {
  border-radius: 10px;
  width: 380px;
  background-color: white;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  position: relative;
}
//便當內容的圖片
.showBentonContentImg {
  border-radius: 20px;
  display: block;
  margin: 35px auto 5px;
}
//便當內容的標題
#ContentTitlText {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
  color: rgb(6, 41, 3);
  padding: 5px 0;
}

//便當內容的我也要買按鈕
.buyMore {
  @include btn(110px, 50px, $fz: 18px);
  cursor: pointer;
  outline: none;
  margin: 5px auto;
  line-height: 20px;
  border: 1px solid rgb (245, 245, 245);
}

//便當內容的作者
.member {
  text-align: right;
  font-size: 14px;
}

//便當內容的作者發文區塊
.memTextBlock {
  border: 1px dashed gray;
  background-color: rgba(255, 245, 222, 0.4);
  width: 320px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
}

//便當內容的會員留言區塊
div.showmsg {
  border: 1px dashed gray;
  background-color: rgb(245, 245, 244);
  width: 320px;
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;
}
//留言區(標題)
.mesTalks {
  padding: 15px 0 3px;
  color: rgb(109, 48, 7);
  font-size: 20px;
}

//會員留言出現的文字
.talkmessage {
  display: inline-block;
  vertical-align: middle;
}

//便當內容留言的會員圖片
.memPicture {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  text-align: left;
}

//便當內容留言的會員留言時間
.talkDataTime {
  text-align: right;
  font-size: 14px;
}

//新增便當的box
.showBentonListLightbox {
  @include lightBox($width: 800px);
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

ul.bentoncardBox {
  border: 1px solid transparent;
  list-style: none;
  display: inline-block;
  overflow: auto;
  height: 400px;
}

.bentoncarTitle {
  padding: 10px;
  text-align: center;
  background-color: rgb(204, 248, 228);
  position: relative;
  span {
    font-size: 28px;
  }
  img {
    width: 30px;
    height: 30px;
    right: 10px;
    position: absolute;
    cursor: pointer;
  }
}

li.bentonCard {
  margin: 20px;
  display: inline-block;
  border: 3px solid transparent;
}

li.bentonCard img {
  cursor: pointer;
  vertical-align: bottom;
}

// Step1
div.confirmBentonBox1 {
  width: 80px;
  margin: 30px auto;
}

div.confirmBentonBox2 {
  width: 350px;
  margin: 30px 0;
}
button.Pre {
  @include btnChoose(90px, 60px, $fz: 18px);
  width: 90px;
  height: 60px;
  line-height: 50px;
  cursor: pointer;
  margin: 0 110px 0 30px;
}

button.Next {
  @include btnChoose(90px, 60px, $fz: 18px);
  width: 90px;
  height: 60px;
  line-height: 50px;
  cursor: pointer;
  margin: 0 auto;
}

button.Send {
  @include btn(90px, 60px, $fz: 18px);
  line-height: 50px;
  width: 90px;
  line-height: 50px;
  cursor: pointer;
}
//--------------Step2-------------
div.bentonContentForm {
  width: 350px;
  margin: 30px auto 0;
}

label.Step2Title,
label.Step2Content {
  vertical-align: top;
  font-size: 16px;
}

#Step2TitlText {
  width: 270px;
  height: 25px;
  font-size: 16px;
}

.Step2Space {
  margin: 30px 0px;
}

#Step2ContentText {
  font-size: 16px;
  resize: none;
  margin: 0 0 10px 0;
}

//-------------便當牆-------------
.shareBenton {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 60px 30px 50px 70px;
  box-shadow: 0px 2px 4px rgb(114, 114, 114);
  width: 260px;
  vertical-align: top;
  display: inline-block;
  border: 1px solid transparent;
  background-color: rgb(243, 248, 201);
  transform: rotate(5deg);
}

//---------------便當前三名背景---------------
.group0 {
  transform: rotate(5deg);
}

.group1 {
  transform: rotate(5deg);
}

.group2 {
  transform: rotate(5deg);
}

//----------按讚數---------------

// div {
//   width: 600px;
//   height: 400px;
//   background-color: burlywood;
// }

// img {
//   width: 40px;
//   height: 40px;
// }
